html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,input,button,fieldset, legend,img { margin:0; padding:0; }
h1,h2,h3,h4,h5,h6{ font-size:14px; font-weight:normal;}
fieldset,img,button{ border:none; }
img{display:block;}
ul,ol{list-style:none; }
textarea{resize:none; }
table{border-collapse:collapse; }
body{color:#333; font-size:12px; font-family:Î¢ÈíÑÅºÚ;}
.clearfix:after{content:""; display:block;clear:both;}
.clearfix{zoom:1;}
a{ font-size:12px;color:#666; text-decoration:none;}
a:hover{text-decoration:underline; cursor: pointer;}
.banxin{width: 1060px;margin:0 auto;}

/* Í·²¿¿ªÊ¼ */
.try{
    width: 100%;
    height: 0px;
    background: url(images/jiaocheng.png) top center no-repeat;
}
.nav{
    position: relative;
    z-index: 2;/* margin-top: 200px; */
}
.logo{
    width: 225px;
    height: 45px;
    background: url(images/logo.png) no-repeat;
    text-indent: -9999em;
    margin-top: 27px;
    float: left;
}
.logo a{
    display:block;
    width: 225px;
    height: 45px;
}
.login{
    float: right;
    margin-top: 27px;
}
.login div{
    display: inline-block;
}
.login .begin{
    width: 147px;
    height: 45px;
    background: url(images/act.png) no-repeat;
    font-size: 18px;
    color:#fff;
    /* font-weight: bold; */
    display: inline-block;
    text-align: center;
    line-height: 45px;
}
.login .begin:hover{text-decoration: none;}
.login div a{
    margin-left: 40px;
    font-size: 14px;
}
.banner{
    height: 905px;
    background: url(images/banner_d1900.png) top center no-repeat;
    width: 100%;
    margin-top: -72px;
    position: relative;
    background-size: cover;
}
.free{
    width: 132px;
    height: 30px;
    background: url(images/free.png) no-repeat;
    position: absolute;
    bottom: 277px;
    left:50%;
    margin-left: -66px;
}
.btns{
    width: 148px;
    height: 47px;
    background: url(images/btn1.png) no-repeat;
    position: absolute;
    bottom: 200px;
    left: 50%;
    margin-left: -74px;
    text-align: center;
    line-height: 47px;
    color: #fff;
    cursor: pointer;
}
.btns:after{
    content: "";
    position: absolute;
    width: 20px;
    height: 21px;
    background: url(images/ico1.png) no-repeat;
    top: 13px;
    left: 16px;

}
.small-banner{
    width: 100%;
    height: 285px;
    background: #cecfcf;
    margin: 52px 0 60px;
    position: relative;

}
.small-banner img{
    margin:0 auto;
    position:absolute;
    left: 50%;
    margin-left: -665px;
    top: 0;

}
.color{
    position: absolute;
    width: 50%;
    background: #d9d9d9;
    height: 285px;
    top:0;
    left: 0;
}

/* ÈÈÏú ÍÆ¼ö¿ªÊ¼ */
.main{
    background: #f5f4f4;
    /* height: 600px; */
    position: relative;
}
.inMain{
    position: relative;
    padding-top: 100px;
}
.hot{
    width: 1241px;
    height: 63px;
    background: url(images/hot.png) no-repeat;
    position: absolute;
    top:20px;
    left: 50%;
    margin-left: -620px;
    text-indent: -9999em;
}
.main-con{
    margin-top: 36px;
}
.m-left{
    float: left;
    width: 776px;
    /* height: 300px; */
}
.m-right{
    float: left;
    width: 260px;
    height: 620px;
    background:url(images/m-right-bg.png) no-repeat;
    margin-left: 15px
}


.act1{
    list-style: none;
    width: 776px;
    margin:0 auto 100px;
}
.act1 li{
    width: 250px;
    height: 300px;
    float: left;
    position: relative;
    /* 	margin-right: 12px;
         */	background:#fff;
    margin-bottom: 20px;
    cursor: pointer;
}
.act1 li.mar12{margin:0 12px;}
.act1 li img{
    margin:13px auto 18px;
}
.act1 li p.explain{
    font-size: 12px;
    text-indent: 18px;
    width: 200px;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    font-weight: bold;

}
.tiao{
    width: 230px;
    height: 10px;
    background:url(images/tiao.png) no-repeat;
    margin:0 auto;
}
.act1 li strong{
    font-size: 12px;
    padding-left: 11px;
}
.num{
    font-size: 12px;
    padding-left: 11px;
    padding-top: 10px;
}
.num .zuo{
    color: #d75452;
    margin-right: 75px;
}
.num .you{position: relative;padding-left: 18px;}
.num .you:after{
    content: "";
    display: block;
    width: 11px;
    height: 11px;
    background: url(images/clock.png) no-repeat;
    position: absolute;
    left: 0;
    top: 1px;
}
.hide{
    width: 250px;
    height: 180px;
    background: rgba(0,0,0,.5);
    position: absolute;
    top:0;
    left: 0;
    padding-top: 20px;
    display: none;
}
.hide .mar20{
    margin:20px 0;
}
.hide p{
    font-size: 12px;
    color: #fff;
    padding-left: 20px;
}
.act1 li:hover .hide{
    display: block;
}
.m-right .m-right-hd{
    width: 260px;
    height: 65px;
    background: url(images/m-right-hd.png) no-repeat;
    border-radius: 5px;
    text-align: center;
    line-height: 60px;
    font-size: 25px;
    font-weight: 100;
}
.m-right-con{
    height: 504px;
    overflow: hidden;
    position: relative;
}
.pingjia{
    position: relative;
    top: 0;
    left: 0;
}
.m-right .pingjia li{
    border-bottom: 1px dashed #ccc;
    padding:20px 0 10px 10px;
    margin:0 5px;
}
.m-right .pingjia p:nth-child(1){
    line-height: 38px;
    font-size: 14px;
    font-weight:bold;
}
.m-right .pingjia p span{
    padding-left: 10px;
}
.m-right .pingjia li:last-child{border: none;}

.ling{
    background: #f5f4f4;
    position: relative;
}
.ling-bg{
    height: 230px;
    width: 1279px;
    background: url(images/ling.png) no-repeat top center;
    margin:0 auto;
    position: absolute;
    top:-36px;
    left: 50%;
    margin-left:-640px;
}
.ling-color{
    width: 100%;
    height: 195px;
    background: #231815;
    border-top: 1px solid #aba7a6;
}

.foot{
    width: 100%;
    height: 282px;
    background: #231815;

}
.infooter{
    width: 1060px;
    height: 270px;
    /* background: pink; */
    margin:0 auto;border:1px solid #231815;
    position: relative;
}
.infooter h2{
    width: 206px;
    height: 37px;
    background: url(images/bai-logo.png) no-repeat;
    text-indent: -9999px;
    margin-top: 54px;
    float: left;
}
.infooter dl{
    float: left;
    margin-top: 22px;
    margin-left: 60px;
    color: #9e9e9f;font-weight: bold;
}
.infooter dl dt{line-height: 30px;}
.infooter dl dd{
    color: #fff;
    font-weight: normal;
    line-height: 22px;
}
.infooter dl dd a{
    color: #fff;
}
.infooter dl dd a:hover{color: #c02024; text-decoration: none;}
.infooter .ewm{
    width: 123px;
    height: 123px;
    background: url(images/easy-ewm.png) no-repeat;
    position: absolute;
    top: 10px;
    right: 0;
}
.weibo,.weixin{
    padding-left: 20px;
    position: relative;
}
.weibo:after{
    content: "";
    width: 15px;
    height: 14px;
    position: absolute;
    top:5px;
    left:0;
    background: url(images/foot-weibo.png) no-repeat;
}
.weixin:after{
    content: "";
    width: 15px;
    height: 14px;
    position: absolute;
    top:5px;
    left:0;
    background: url(images/foot-weixin.png) no-repeat;
}

.infooter p{
    width: 960px;
    position: absolute;
    bottom:30px;
    left: 350px;
    color:#bbb;
}

@media (max-width: 768px) {
    html,body{width: 100%;}
    .color{display: none;}
    .small-banner img{display: none;}
    .small-banner {
        width: 100%;
        background: url(images/banner_b640.png) no-repeat;
        background-size: 100%;
        margin:1rem 0;
    }
    .banner{
        width: 100%;
        padding-top: 59.1%;
        height: 0;
        background-image: url(images/banner_d768.png);
        background-size: cover;

    }
    .free,.btns,.ling,.foot,.main{display: none;}
}

@-webkit-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }
    to {
        background-position: 0 0;
    }
}
@-o-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }
    to {
        background-position: 0 0;
    }
}
@keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }
    to {
        background-position: 0 0;
    }
}
.progress {
    height: 13px;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: #f9f9f9;
    border-radius: 6px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}
.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height:13px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}
.progress-striped .progress-bar,
.progress-bar-striped {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
}
.progress.active .progress-bar,
.progress-bar.active {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}
.progress-bar-success {
    background-color: #5cb85c;
}
.progress-striped .progress-bar-success {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
.progress-bar-info {
    background-color: #5bc0de;
}
.progress-striped .progress-bar-info {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
.progress-bar-warning {
    background-color: #f0ad4e;
}
.progress-striped .progress-bar-warning {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
.progress-bar-danger {
    background-color: #d9534f;
}
.progress-striped .progress-bar-danger {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}

.go-top{
    position: fixed;
    right: 30px;
    bottom: 300px;
    width: 30px;
    height: 40px;
    background:pink;
    z-index: 10;
    cursor: pointer;
    display: none;
}

/* .tanceng{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(62,58,57,.8);
    z-index: 20;
    display: none;
}
.close{
    position: fixed;
    right: 30px;
    top: 30px;
    width: 50px;
    height: 49px;
    background: url(images/close.png) no-repeat;
    cursor: pointer;
}
.denglu{
    width: 686px;
    height: 434px;
    background: #f5f5f5;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
}
.denglu img{float: left;}
.denglu-con{
    width: 335px;
    height: 433px;
    background:#eee;
    float: left;
    padding:20px 25px 0 25px;
    box-sizing:border-box;
}
.denglu-con h3{
    font-size: 18px;
    text-align: center;
    font-family: ºÚÌå;
}
.denglu-con input{
    width: 100%;
    height: 30px;
    text-indent: 1em;
    font-size: 14px;
    color: #666;
}
.denglu-con label{
    line-height: 30px;
    font-size: 12px;
    cursor: pointer;
}
.forget{
    width: 50px;
    border-bottom: 1px solid #2f86b2;
    margin:10px auto;
}
.forget a{
    color: #2f86b2;
}
.forget a:hover{

}
.anniu{
    display: block;
    width: 125px;
    height: 34px;
    background:#ccc;
    line-height: 34px;
    margin:0 auto;
    text-align: center;
    border-radius: 3px;
    color: #000;}

.anniu:hover{
    text-decoration: none;
} */