html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,input,button,fieldset, legend,img { margin:0; padding:0; }
h1,h2,h3,h4,h5,h6{ font-size:14px; font-weight:normal;}
fieldset,img,button{ border:none; }
img{display:block;}
ul,ol{list-style:none; }
textarea{resize:none; }
table{border-collapse:collapse; }
body{color:#333; font-size:12px; font-family:"微软雅黑";}
.clearfix:after{content:""; display:block;clear:both;}
.clearfix{zoom:1;}
a{ font-size:12px;color:#666; text-decoration:none;}
a:hover{text-decoration:underline; cursor: pointer;}
.banxin{width: 1060px;margin:0 auto;}

.try{
    width: 100%;
    height: 0px;
    background: url(images/jiaocheng.png) top center no-repeat;
}
.nav{
    position: relative;
    z-index: 2;/* margin-top: 200px; */
    padding:0 60px;
}
.logo{
    width: 225px;
    height: 45px;
    background: url(images/logo.png) no-repeat;
    text-indent: -9999em;
    margin-top: 27px;
    float: left;
}
.logo a{
    display:block;
    width: 225px;
    height: 45px;
}
.login{
    float: right;
    margin-top: 27px;
}
.login div{
    display: inline-block;
}
.login .begin{
    width: 147px;
    height: 45px;
    background: url(images/act.png) no-repeat;
    font-size: 18px;
    color:#fff;
    /* font-weight: bold; */
    display: inline-block;
    text-align: center;
    line-height: 45px;
}
.login .begin:hover{text-decoration: none;}
.login .login-links a{
    /*margin-left: 40px;*/
    font-size: 14px;
    color: #666;
    text-decoration: none;
}
.banner{
    height: 905px;
    background: url(images/banner_d1900.png) top center no-repeat;
    width: 100%;
    margin-top: -77px;
    position: relative;
    background-size: cover;
}
.free{
    width: 132px;
    height: 30px;
    background: url(images/free.png) no-repeat;
    position: absolute;
    bottom: 277px;
    left:50%;
    margin-left: -66px;
}
.btns{
    width: 148px;
    height: 47px;
    background: url(images/btn1.png) no-repeat;
    position: absolute;
    bottom: 200px;
    left: 50%;
    margin-left: -74px;
    text-align: center;
    line-height: 47px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}
.btns:after{
    content: "";
    position: absolute;
    width: 20px;
    height: 21px;
    background: url(images/ico1.png) no-repeat;
    top: 13px;
    left: 16px;

}
.small-banner{
    width: 100%;
    height: 285px;
    background: #cecfcf;
    margin: 52px 0 60px;
    position: relative;

}
.small-banner img{
    margin:0 auto;
    position:absolute;
    left: 50%;
    margin-left: -665px;
    top: 0;

}
.color{
    position: absolute;
    width: 50%;
    background: #d9d9d9;
    height: 285px;
    top:0;
    left: 0;
}

.main{
    background: #f5f4f4;
    /* height: 600px; */
    position: relative;
}
.inMain{
    position: relative;
    padding-top: 100px;
}
.hot{
    width: 1241px;
    height: 63px;
    background: url(images/hot.png) no-repeat;
    position: absolute;
    top:20px;
    left: 50%;
    margin-left: -620px;
    text-indent: -9999em;
}
.main-con{
    margin-top: 36px;
}
.m-left{
    float: left;
    width: 776px;
    /* height: 300px; */
}
.m-right{
    float: left;
    width: 260px;
    height: 620px;
    background:url(images/m-right-bg.png) no-repeat;
    margin-left: 15px
}


.act1{
    list-style: none;
    width: 776px;
    margin:0 auto 100px;
}
.act1 li{
    width: 374px;
    height: 334px;
    float: left;
    position: relative;
    /* 	margin-right: 12px;
         */	background:#fff;
    margin-bottom: 20px;
    cursor: pointer;
}
.act1 li a{
    display: block;
    width: 100%;
    height: 100%;
}
.act1 li.mar12{margin:0 20px 0 0;}
.act1 li img{
    margin:5px auto 13px;
}
.act1 li p.explain{
    font-size: 16px;
    text-indent: 18px;
    width: 200px;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;



}
.act1 li .explain-all{
    position: relative;
}
.act1 li .explain-all span{
    position: absolute;
    top:-3px;
    right: 20px;
    font-size: 22px;

}
.tiao{
    width: 230px;
    height: 10px;
    background:url(images/tiao.png) no-repeat;
    margin:0 auto;
}
.act1 li strong{
    font-size: 12px;
    padding-left: 11px;
    display: block;
}
.num{
    font-size: 12px;
    padding-left: 11px;
    padding-top: 0px;
}
.num .zuo{
    color: #000;
    margin-right: 75px;
    float: left;
}
.num span i{
    font-size: 24px;
    font-weight: bold;
    color:#cc5250;
}

.num .you{position: relative;padding-left: 18px; float: right; right:15px;}
.num .you:after{
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background: url(images/clock.png) no-repeat;
    position: absolute;
    left: 0;
    top: 12px;
}
.hide{
    width: 100%;
    height: 209px;
    background: rgba(0,0,0,.5);
    position: absolute;
    top:0;
    left: 0;
    padding-top: 20px;
    display: none;
}
.hide .mar20{
    margin:20px 0;
}
.hide p{
    font-size: 12px;
    color: #fff;
    padding-left: 20px;
    text-align: center;
}
.act1 li:hover .hide{
    display: block;
}
.m-right .m-right-hd{
    width: 260px;
    height: 65px;
    background: url(images/m-right-hd.png) no-repeat;
    border-radius: 5px;
    text-align: center;
    line-height: 60px;
    font-size: 25px;
    font-weight: 100;
}
.m-right-con{
    height: 504px;
    overflow: hidden;
    position: relative;
}
.pingjia{
    position: relative;
    top: 0;
    left: 0;
}
.m-right .pingjia li{
    border-bottom: 1px dashed #ccc;
    padding:20px 0 10px 10px;
    margin:0 5px;
}
.m-right .pingjia p:nth-child(1){
    line-height: 38px;
    font-size: 14px;
    font-weight:bold;
}
.m-right .pingjia p span{
    padding-left: 10px;
}
.m-right .pingjia li:last-child{border: none;}

.cooperate-bg{
    width: 100%;
    background-color: #f5f4f4;
    padding-top: 40px;
}
.cooperate{
    height: 388px;
    width: 1255px;
    margin:0 auto;
    padding-top: 40px;
    
}
.cooperate-bg hr{
    /* border-style: dashed;
    border-color: #b4b4b5; */
    height: 2px;
    background: url(images/cooperate.jpg) repeat-x;
    border: none;

}
.cooperate-title{
    width: 220px;
    height: 65px;
    background: url(images/cooperate-title.jpg) no-repeat;
    margin:-68px auto 0;
}
.cooperate-con{
    width: 970px;
    margin:0 auto;
    margin-top: 40px;
}
.cooperate-con a{
    float: left;
    width: 431px;
}
.cooperate-con a:first-child{
    margin-right:100px;
}
.cooperate-con a img{margin:0 auto;}
.cooperate-con a p{
    margin-top: 10px;
    font-size: 14px;
    color: #888888;
}

/* 设计帮忙开始 */
.help{
    /*width: 1225px;*/
    height: 612px;
    margin:0 auto;
    padding-top: 49px; 
}
.help hr{
    height: 2px;
    background: url(images/template_bg.jpg) repeat-x;
    border: none;
}
.help-title{
    width: 312px;
    height: 62px;
    background:url(images/template_title.jpg) no-repeat; 
    margin:-37px auto 67px;
}
.help-sentence{margin-left: 50px;}
.apply{
    float: right;
    margin-right: 50px;

}
.help-template{
    margin-top: 30px;
    position: relative;
}
.help-l,.help-r{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
     width: 33px;
     height: 62px;
     cursor: pointer;
}
.help-l{
    background:url(images/template_arrow_l.png) no-repeat;
    left:-79px; 
}
.help-r{
    background:url(images/template_arrow_r.png) no-repeat;
   right:-79px; 
}
.template{
    width: 1009px;
    height: 275px;
    overflow: hidden;
    margin:0 auto;
    
    position: relative;
}
.template ul{
    width: 3792px;
    position: absolute;
    left: 0;
    top: 0;
    padding-left: 5px;
}
.template-con{
    width: 280px;
    height: 220px;
    border:16px solid #eeeeef;
    position: relative;
    float: left;
    margin-right:36px;
}
.template-con a{
    display: block;
    width: 100%;
    height: 100%;
}
.template-con a:hover .help-popup{
    display: block;
}
.template-con i{
    background-color: #23a6a4;
    position: absolute;
    left: -9px;
    top:0px;
    color: #fff;
    height: 24px;
    min-width: 104px;
    text-align: center;
    line-height: 24px;
    font-weight:bold ;
    z-index: 10;
    font-size: 14px;
}
.template-con i:after{
    content: "";
    position: absolute;
    left: -12px;
    top:0;
    width: 12px;
    height: 31px;
    background:url(images/template_icon_1.png) no-repeat;
}
.template-con i:before{
    content: "";
    position: absolute;
    right: -13px;
    top:0;
    width: 13px;
    height: 24px;
    background:url(images/template_icon_2.png) no-repeat;
}
.template-con img{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    max-height: 210px;

}
.template-con .designer{
    position: absolute;
    bottom: -40px;
    left: -10px;
    color: #2e55b5;

}
.template-con .charge{
    position: absolute;
    bottom: -40px;
    right: -6px;
}
.help-popup{
    position: absolute;
    left: -16px;
    top:-16px;
    background-color: rgba(219,51,53,.8);
    width: 100%;
    height: 100%;
    border:16px solid #e25b5d;
    display: none;
}
.help-popup button{
    width: 170px;
    height: 43px;
    border:1px solid #fff;
    background: none;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    border-radius: 5px;
    cursor: pointer;

}
/* 设计帮忙结束 */
.ling{
    background: #fff;
    position: relative;
    margin-bottom: 40px;
    height: 223px;
}
.ling hr{
    background: url("images/template_bg.jpg");
    border: none;
    height: 1px;
    margin-top: -10px;
}
.ling img{
    position: absolute;
    top:100px;
    left: 50%;
    margin-left: -444px;
}
.ling-bg{
    height: 199px;
    width: 1255px;
    background: url(images/ling.jpg) no-repeat top center;
    margin:0 auto;
    position:absolute;
    top:-31px;
    left: 50%;
    margin-left:-640px;
}
.ling-color{
    width: 100%;
    height: 199px;
    background: #fff;
}

.promoter{display: none;}
@media (max-width: 768px) {
    html{font-size: 62px;}
    html,body{width: 100%;}
    .free,.btns,.ling,.foot,.cooperate{display: none;}
   /*  头部样式 */
    .logo,.logo a{
        width: 2.23rem;
        height: 0.47rem;
        background-size: cover;
    }
    .logo,.login{
        margin-top: 0.27rem;
    }
    .nav{
        width: 100%;
    }
    .login .begin{
        width: 1.89rem;
        height: 0.67rem;
         background-size: cover;
         font-size: 0.16rem;
         line-height: 0.67rem;
    }
    .begin,.login-links{
        float: left;
    }
    /*.login .login-links a{
        margin-left: 30px;
        margin-right: 10px;
    }*/
    .login-personage .afterLogin a{
        margin-left: 0;
    }
    /*  头部样式 */

    /*  banner样式 */
    .color{display: none;}
    .small-banner img{display: none;}
    .small-banner {
        width: 100%;
        height: 3.84rem;
        background: url(images/banner_b640.png) no-repeat;
        background-size: 100%;
        margin:0.5rem 0 0;
    }
    .banner{
        width: 100%;
        padding-top: 59.1%;
        height: 0;
        background-image: url(images/banner_d768.png);
        background-size: cover;
    }
    /*  banner样式 */

    /*  活动内容样式 */
    .main{
        width: 100%;
    }
    .main .inMain{
        width: 100%;
        padding-top: 10px;
    }
    .hot{
        width: 100%;
        height: 1rem;
        background-image: url(images/mobile_act_title.jpg);
        position: static;
        margin-left: 0;
        background-size: cover;
    }
    .m-left{
        width: 10.68rem;
        height: 8.5rem;
        float:none;
        overflow: hidden;
        margin:0 auto;
    }
    .m-right{
        display: none;
    }
    ul.act1{
        width: 5000px;
    }
    ul.act1 li{
        width: 10.68rem;
        height: 6.5rem;
        font-size:0.18rem;
    }
    .hide{
        height: 0;
        padding-top: 0;
    }
    .act1 li img{
        width: 3.88rem;
        height: 3.68rem;
        margin:0 auto;
    }
    .act1 li.mar12{
        margin:0;
    }
    .promoter{
        display: block;
        padding:10px;
        color: #365b8b;
        padding-bottom: 0;
    }
    .act1 li strong{
        display: none;
    }
    .num .zuo{
        float: left;
    }
    .num .you{
       float: right;
       right: 10px;
    }
    .act1 li p.explain{
        font-size: 0.18rem;
    }
    .num{font-size: 0.18rem;}
    /*  活动内容样式 */
    
}

@-webkit-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }
    to {
        background-position: 0 0;
    }
}
@-o-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }
    to {
        background-position: 0 0;
    }
}
@keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }
    to {
        background-position: 0 0;
    }
}
.progress {
    height: 12px;
    margin: 10px auto 10px;
    overflow: hidden;
    background-color: #D1D2D3;
    border-radius: 6px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    width:93%;
}
.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height:12px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}
.progress-striped .progress-bar,
.progress-bar-striped {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
}
.progress.active .progress-bar,
.progress-bar.active {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}
.progress-bar-success {
    background-color: #5cb85c;
}
.progress-striped .progress-bar-success {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
.progress-bar-info {
    background-color: #5bc0de;
}
.progress-striped .progress-bar-info {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
.progress-bar-warning {
    background-color: #f0ad4e;
}
.progress-striped .progress-bar-warning {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
.progress-bar-danger {
    background-color: #d9534f;
}
.progress-striped .progress-bar-danger {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}


