<div id="chooseNumberOfColors" class="isd-light-container isd-uploaderModal p"
     ng-controller="EmbroideryMapColorsController" style="width:759px;top: 0px !important;left: 200px; height:662px;">
  <h1>图片上传</h1>

  <div class="isd-uploaderModalBody" style="padding:30px 20px 20px 20px;">
    <div style="float:left" class="isd-uploaderColors">
      <h2>颜色处理</h2>

      <div class="isd-uploaderSavingsTip">
        您可以更改图片上的颜色.<br/>
      </div>
      <div class="isd-uploaderColorMatchControls">
        <table class="isd-uploaderColorMatchTable">
          <thead>
          <tr>
            <th></th>
            <th>
              当前颜色
            </th>
            <th></th>
            <th>
              替换颜色
            </th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="color in currentColors" ng-init="parentIndex = $index">
            <td class="isd-uploaderCurrentColor">
              <div class="isd-uploaderColorSelector"
                   ng-style="{'background-color': getColorString(color.originalColor)}"
                   class="{{transparentClass(color)}}" style="margin-top:2px;"
                   data-color="{{getColorString(color.originalColor)}}" show-color-tooltip></div>
            </td>
            <td class="isd-uploaderCurrentColorArrow">
              <div class="isd-uploaderMatchColorArrow"></div>
            </td>
            <td>
              <div ng-init="showingInlineModal=false" class="isd-uploaderColorMatcher">
                <div class="isd-uploaderColorSelector"
                     ng-style="{'background-color': getColorString(color.matchedColor)}" ng-show="color.matchedColor"
                     ng-click="showColorOptions(color, parentIndex, $event)"
                     data-color="{{getColorString(color.matchedColor)}}" show-color-tooltip
                     ng-class="transparentClass(color.matchedColor)">
                  <a style="display:block;width:100%;height:100%;">&nbsp;</a>
                </div>
                <div class="isd-uploaderColorSelectorTemp" ng-hide="color.matchedColor"
                     ng-click="showColorOptions(color, parentIndex, $event)">
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <div id="uploaderColorOptions" class="isd-uploaderColorOptions" ng-show="showingInlineModal"
             is-inline-modal="showingInlineModal"
             ng-style="{'left': colorOptionsX + 'px', 'top': colorOptionsY + 'px'}">
          <a class="isd-color-selector" ng-style="{'background-color': storeColor.html_color}"
             ng-repeat="storeColor in storeColors" ng-click="mapColor(color, storeColor, parentIndex);"
             title="{{storeColor.name}}" data-color="{{storeColor.name}}" show-color-tooltip>&nbsp;</a>
          <a class="isd-color-selector isd-transparentColor" ng-click="mapColor(color, 'none', parentIndex);"
             data-color="None" title="Transparent" show-color-tooltip>&nbsp;</a>
        </div>
        <div class="isd-uploaderTotalImageColors" style="position: absolute;left: 390px;top: 510px;">
          <a ng-click="addImageToDesigner()" class="isd-btn isd-button-default">继续</a>
        </div>
      </div>
    </div>

    <div class="isd-uploaderImagePreview">
      <div class="isd-imageContainer">
        <div id="targetImageContainer">
          <img id="sourceImage" ng-src="{{embroiderySource}}"/>
        </div>
      </div>

    </div>
    <div ng-show="loadingImage"
         style="width:100%;height:100%;z-index:999;background-color:#fff;border:none; position:absolute; top:0px;left:0px;">
      <h1 style="margin-top: 200px;font-size: 35px;line-height: 50px;">正在处理图片，请稍等...</h1>
    </div>
  </div>
  <a ng-click="close()" class="isd-close-btn">&nbsp;</a>
</div>
