<div id="mobileUploadConfirm" class="isd-uploaderModal isd-light-container"
     ng-controller="MobileUploadConfirmController">
    <h1>图片上传</h1>

    <div class="isd-uploaderModalBody">
        <div class="isd-uploaderImagePreview">
            <div class="isd-imageContainer">
                <img id="sourceImage" ng-src="{{originalSource}}"/>
            </div>
            <div class="isd-imageLabel">上传的图片</div>
        </div>
    </div>
    <div style="float:left" class="isd-uploaderColors">
        <h2>您上传的是这张图片吗?</h2>
        <button type="button" class="isd-blue-btn" ng-click="nextStep()">继续</button>
    </div>
    <a ng-click="close()" class="isd-close-btn">&nbsp;</a>
    <fieldset>
        <legend>版权声明</legend>
        <div>
            您提交的任何设计必须是您设计或者拥有合法使用权。你不得使用他人拥有的内容，除非你得到他们的许可。如果有人因为你的设计向我们索赔，您同意支付我们受到损失，包括律师费等任何损失.
        </div>
    </fieldset>
</div>
