<div id="isd-clipArt" ng-controller="DesignIdeasController">
    <div class="modal-header">
        <form class="form form-inline" ng-submit="searchDesigns()" is-validate>
            <span class="glyphicon glyphicon-fire"> 素材市场</span>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="搜索"  ng-model="searchTerm">
                <span class="input-group-btn">
                    <button class="btn btn-success" ng-click="searchDesigns()">搜索</button>
                </span>
            </div>
        </form>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body clearfix">
        <div class="isd-clipart-category-list">
            <div class="isd-clipart-side">
                <div class="isd-clipart-category-list-panle" ng-repeat="category in topCategories">
                    <a ng-click="selectCategory(category,$event)" ng-class="{'isd-selected-category-design-ideas':(selectedCategory.name == category.name)}">{{category.name}}<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                    <ul ng-show="category.subcategories && (category == selectedCategory || selectedCategory.parent_id == category.art_category_id)">

                        <li class="isd-default" onclick="$('.isd-clipart-category-list').removeClass('active')">
                            <a ng-click="showCategoryLeft()"><span class="glyphicon glyphicon-chevron-left"></span> 返回</a>
                        </li>
                        <li ng-repeat="subcat in category.subcategories">
                            <a ng-click="selectCategory(subcat,$event)"
                               ng-class="{'isd-selected-category-design-ideas':(selectedCategory.name == subcat.name)}">{{subcat.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="isd-clipart-list">
            <div class="isd-notFound" ng-show="(!categories || !categories.length) && (!artItems || !artItems.length) && !searching">没有找到您要的素材模版.
            </div>
            <ul class="isd-clip-art-thumbs clearfix">
                <li ng-repeat="art in artItems">
                    <a ng-click="selectArt(art)">
                        <div is-vertically-centered ng-style="{'background-image':'url({{art.thumburl_large}})'}">

                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</div>