<div class="isd-light-container isd-full" ng-controller="MyArtController">
  <h1 class="isd-header-my-art">我的素材库</h1>

  <div class="isd-register-login isd-accordian-content" ng-hide="isLoggedIn"
       style="float:left;margin-left:190px;margin-top:150px;" ng-controller="LogInOrCreateAccountController">
    <h2 style="font-size:21px;color:#000;text-transform:none;">登录</h2>

    <form ng-submit="logInExisting()" ng-hide="showForgotPasswordForm">
      <p class="isd-error">{{login.error}}</p>
      <label>
        <span>帐号</span><input type="text" class="isd-txt-btn" ng-model="login.email" required
                                         is-auto-focus/>
      </label>
      <label>
        <span>密码</span><input type="password" class="isd-txt-btn" ng-model="login.password" required/>
      </label>
      <a class="isd-forgot"
         href="/account/find_password/" target="_blank"
         style="margin-top:4px;">忘记密码?</a><br/><br/>
      <input type="submit" class="isd-btn isd-button-primary" value="继续" style="float:right;"/>
    </form>

  </div>
  <div class="isd-light-main isd-clearfix" ng-show="isLoggedIn">

    <!-- Nav tabs -->
    <div class="isd-nav-tabs isd-horz-nav isd-my-art-tabs" ng-init="tab = 1">
      <ul>
        <li><a ng-click="tab = 1" class="isd-my-art-tab" ng-class="{'active': tab == 1}">我的设计
          <!-- <div ng-show="isLoggedIn"> ( {{artItems.length}} )</div> --></a></li>
        <!-- ADD CLASS .isd-disabled IF myClipArt.length < 1  -->
        <li><a ng-click="tab = 2" class="isd-my-art-tab" ng-class="{'active': tab == 2}">我的素材
          <!-- <div ng-show="isLoggedIn"> ( {{myClipArtItems.length}} )</div> --></a></li>
      </ul>
      <div class="clear"></div>
    </div>

    <div class="isd-lightbox-slider isd-clearfix" ng-show="tab == 1">
      <div class=" isd-slider-4 isd-designs" style="float:left;width:auto;margin-left: 5px;margin-top: 10px;">

        <div class="isd-notFound" ng-show="!artItems || !artItems.length">您还没有保存过设计.</div>
        <ul class="isd-slide-hover isd-clearfix" style="height:500px; width:710px;overflow:auto;">
          <li ng-repeat="art in artItems" style="height:91px;">
            <a ng-click="selectArt(art)">
              <div is-vertically-centered>
                <img ng-src="{{art.imgurl}}" style="max-height:91px"/>
              </div>
            </a>
          </li>
        </ul>

      </div>
    </div>


    <div class="isd-lightbox-slider isd-clearfix" ng-show="tab == 2">
      <div class="isd-slider-4 isd-designs" style="float:left;width:auto;margin-left: 5px;margin-top: 10px;">

        <div class="isd-notFound" ng-show="!clipArtItems || !clipArtItems.length">您还没有上传过素材.</div>
        <ul class="isd-slide-hover isd-clearfix" style="height:500px; width:710px;overflow:auto;">
          <li ng-repeat="art in clipArtItems" style="height:91px;">
            <a ng-click="selectClipArt(art)">
              <div is-vertically-centered>
                <img ng-src="{{art.thumb_jit}}" style="max-height:91px"/>
              </div>
            </a>
          </li>
        </ul>

      </div>
    </div>
  </div>
  <a ng-click="close()" class="isd-close-btn">&nbsp;</a>
</div>
