<div class="isd-light-container isd-full" ng-controller="ProductCategoriesController" style="top:10px;height:655px;">
  <h1>
    产品</h1>

  <div class="isd-light-main isd-clearfix">
    <div class="isd-breadcrumbsContainer"><span ng-repeat="crumb in crumbs" ng-show="crumbs.length > 1"
                                                class="isd-breadcrumb"><a
      ng-click="crumb.click()">{{crumb.label}}</a><span ng-show="$index < crumbs.length - 1"> -&gt; </span></span></div>
    <form ng-submit="searchProducts()" is-validate style="float:right;">
      <input type="text" placeholder="Enter Search Here..." ng-model="searchTerm" style="width:150px;"/>
      <input type="submit" value="Search"/>
    </form>
    <div class="isd-lightbox-slider isd-clearfix">
      <!-- <div class="isd-slider-3">
          <div is-scroll-pager item-height="28" page-size="15" style="height:482px;">
              <ul>
                  <li ng-repeat="category in topCategories"><a ng-click="selectCategory(category)">{{category.name}}</a>
                      <ul class="isd-subcategory" ng-show="category.subcategories && (category == selectedCategory || selectedCategory.parent_id == category.product_category_id)">
                          <li ng-repeat="subcat in category.subcategories"><a ng-click="selectCategory(subcat)">{{subcat.name}}</a>
                      </ul>
                  </li>
              </ul>
          </div>
      </div> -->
      <div class="isd-slider-4 isd-products" ng-init="pageSize = 99;">
        <div class="isd-notFound p"
             ng-show="(!categories || !categories.length) && (!products || !products.length) && !searching">没有找到您要的产品。
        </div>
        <ul class="isd-slide-hover isd-clearfix">
          <li ng-click="selectCategory(category)"
              ng-repeat="category in categories.slice(thumbnailsOffset, thumbnailsOffset + pageSize)"
              style="cursor:pointer;">
            <div is-vertically-centered>
              <a><img ng-src="{{category.thumburl_large}}"/></a>
              <a style="display:block;height:auto;text-align:center;">{{category.name}}</a>
            </div>
          </li>
        </ul>
        <ul class="isd-slide-hover isd-clearfix">
          <li ng-click="selectProduct(product)"
              ng-repeat="product in products.slice(thumbnailsOffset, thumbnailsOffset + pageSize)"
              style="cursor:pointer;">
            <div is-vertically-centered>
              <a><img ng-src="{{product.thumburl_large}}"/></a>
              <a style="display:block;height:auto;text-align:center;">{{product.name}}</a>
            </div>
          </li>
        </ul>
        <div class="isd-direction-arrow">
          <a class="isd-direction-up" ng-show="thumbnailsOffset > 0"
             ng-click="thumbnailsOffset = thumbnailsOffset - pageSize"><i>&nbsp;</i></a>
          <a class="isd-direction-down" ng-show="thumbnailsOffset + pageSize < (categories.length + products.length)"
             ng-click="thumbnailsOffset = thumbnailsOffset + pageSize"><i>&nbsp;</i></a>
        </div>
      </div>
    </div>
  </div>
  <a ng-click="close()" class="isd-close-btn">&nbsp;</a>
</div>
