﻿<form id="editText" ng-controller="EditTextController">
    <div class="form-group">
        <!--<label>文字</label>-->
        <!--ng-keyup="updateTextKeyup()" ng-keydown="updateTextKeyDown()"-->
        <textarea placeholder="请输入您要添加的文字" class="form-control" id="isd-text-textarea" ng-model="text.text" name="" cols="30" rows="2"></textarea>
    </div>
    <div class="form-group">
        <button class="btn btn-default btn-block" ng-class="{disabled: isEditText()}" ng-click="updateText()">修改文字</button>
    </div>
    <div class="form-group" ng-show="text">
        <label>字体</label>

        <div class="dropdown ds-fonts">
            <div class="form-control"  data-toggle="dropdown" aria-expanded="false" ng-init="toggleFontList()">
                <img ng-src="{{text.fontObject.gifpath}}" style="height:22px;" title="{{text.fontObject.font || text.fontObject.name}}"/>
                <span class="glyphicon glyphicon-triangle-bottom pull-right"></span>
            </div>
            <div class="dropdown-menu" role="menu">
                <div class="form-group">
                    <select class="form-control " ng-model="text.fontStyleId"
                            ng-options="category.font_style_id as category.style for category in fontCategories"
                            ng-change="fontCategorySelected()">
                        <option>{{text.fontObject.name}}</option>
                    </select>
                </div>
                <div class="isd-fontList">
                    <div ng-repeat="font in fonts" ng-click="text.fontId = font.font_id; updateTextFont();">
                        <img ng-src="{{font.gifpath}}" title="{{font.font || font.name}}"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row" ng-show="!isMultiLine&&text">
        <div ng-class="{'col-sm-12' : text.selectedShape&&text.selectedShape.id == 0,'col-sm-6' : text.selectedShape && text.selectedShape.id > 0}">
            <label>文字变形</label>

            <div class="dropdown isd-TextShape">
                <div class="form-control" data-toggle="dropdown" aria-expanded="false">
                    <img data-shape="{{text.selectedShape.image}}" ng-src="{{(!text || !text.selectedShape) ? null : (url(ezdLocation + '/ds/themes/'+ ThemeName + text.selectedShape.image))}}" ng-class="{'isd-shape-none' : text.selectedShape.name == none}"/>
                    <span class="glyphicon glyphicon-triangle-bottom pull-right"></span>
                </div>
                <div class="dropdown-menu" role="menu">
                    <div ng-repeat="shape in shapes" data-shape="1" ng-click="changeTextShape(shape)">
                        <img ng-src="{{url(ezdLocation + '/ds/themes/' + ThemeName + shape.image)}}" height="36"
                             ng-style="{'margin-top':$index == 0 ? '3px' : '0px', 'padding-top': $index == 0 ? '0px' : '0px'}"
                             ng-class="{'isd-shape-none' : shape.image == '/images/shape-none.png', 'isd-shape-none-dd' : shape.image == '/images/shape-none.png'}"/>
                    </div>
                </div>
            </div>
        </div>
        <div ng-class="{'col-sm-6' : text.selectedShape && text.selectedShape.id > 0}" ng-show="text.selectedShape && text.selectedShape.id > 0">
            <label>变形幅度</label>

            <div class="form-control ds-number-setp">
                <input ng-show="text.selectedShape.id == 7" type="number" class="ng-pristine ng-valid" ng-disabled="1" ng-class="{'isd-keyAngle':text.arching % 45 == 0, 'isd-curveAngle': true}" ng-model="text.arching"/>
                <input ng-show="text.selectedShape.id != 7" type="number" class="ng-pristine ng-valid" ng-disabled="1" ng-model="text.wrapAmmount"/>
                <a ng-click="increaseShapeSize()" class="glyphicon glyphicon-triangle-top"></a>
                <a ng-click="decreaseShapeSize()" class="glyphicon glyphicon-triangle-bottom"></a>
            </div>
        </div>
    </div>
    <div class="form-group row" ng-show="text&&isMultiLine">

        <div class="col-sm-6">
            <label>对齐</label>
            <div>
                <a ng-click="changeTextAlignment(0)" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-align-left" aria-hidden="true"></span></a>
                <a ng-click="changeTextAlignment(1)" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-align-center" aria-hidden="true"></span></a>
                <a ng-click="changeTextAlignment(2)" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-align-right" aria-hidden="true"></span></a>
            </div>
        </div>
        <div class="col-sm-6">
            <label>行高</label>
            <div class="form-control ds-number-setp">
                <input type="number" ng-disabled="1" value="{{formatNumber(text.lineHeight, 1)}}"/>
                <a ng-click="increaseTextHeight()" class="glyphicon glyphicon-triangle-top"></a>
                <a ng-click="decreaseTextHeight()" class="glyphicon glyphicon-triangle-bottom"></a>
            </div>
        </div>

    </div>
    <div ng-show="text" class="form-group row">
        <div class="col-sm-6">
            <label>颜色</label>

            <div class="dropdown ds-colorsBox" is-tooltip="30">
                <div class="form-control" ng-click="showFillColorModal($event)">
                    <a ng-style="{'background-color':text.color}" data-color="{{text.color}}" class="{{transparentClass(text.color)}}" show-color-tooltip>
                        &nbsp;</a>
                    <span class="glyphicon glyphicon-triangle-bottom pull-right"></span>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <label>字间距</label>

            <div class="form-control ds-number-setp">
                <input type="number" ng-disabled="1" value="{{formatNumber(text.letterSpacing, 1)}}"/>
                <a ng-click="increaseTextSpacing()" class="glyphicon glyphicon-triangle-top"></a>
                <a ng-click="decreaseTextSpacing()" class="glyphicon glyphicon-triangle-bottom"></a>
            </div>
        </div>
    </div>
    <div ng-show="text" class="form-group row">
        <div class="col-sm-6" is-tooltip="33">
            <label>描边</label>

            <div class="form-control ds-number-setp">
                <input type="number" ng-disabled="1" value="{{formatNumber(text.stroke, 1)}}"/>
                <a ng-click="increaseStrokeWidth()" class="glyphicon glyphicon-triangle-top"></a>
                <a ng-click="decreaseStrokeWidth()" class="glyphicon glyphicon-triangle-bottom"></a>
            </div>
        </div>
        <div class="col-sm-6">
            <label>描边颜色</label>

            <div class="dropdown ds-colorsBox">
                <div class="form-control" ng-click="showStrokeColorModal($event)">
                    <a ng-style="{'background-color':text.strokeColor}" data-color="{{text.strokeColor}}" show-color-tooltip></a>
                    <span class="glyphicon glyphicon-triangle-bottom pull-right"></span>
                </div>
            </div>
        </div>
    </div>
</form>