<div class="isd-custom-control">
  <div class="isd-header">
    {{action}} 多个对象
  </div>

  <div class="isd-custom-selector">
    <ul class="isd-outline-size">
      <!--			<li class="isd-last">
                      <span>对齐</span>
                      <a><img ng-src="{{ezdLocation}}/ds/images/align-right.jpg" width="38" height="37" alt="" title="" ng-click="changeAlignment('right')"/></a>
                      <a><img ng-src="{{ezdLocation}}/ds/images/align-center.jpg" width="38" height="37" alt="" title="" ng-click="changeAlignment('mid')"/></a>
                      <a><img ng-src="{{ezdLocation}}/ds/images/align-left.jpg" width="38" height="37" alt="" title="" ng-click="changeAlignment('left')"/></a>
                  </li>-->
      <li class="isd-last isd-nudge">
        <span style="width:238px; float:left;text-align:left; margin-top:10px;">Nudge</span>

        <div style="width:238px; float:left; ">
          <a class="isd-flat-icons fi-down" style="margin-left:0px;" ng-click="nudge('down')"></a>
          <a class="isd-flat-icons fi-up" ng-click="nudge('up')"></a>
          <a class="isd-flat-icons fi-left" ng-click="nudge('left')"></a>
          <a class="isd-flat-icons fi-right" ng-click="nudge('right')" style="clear:right;"></a>
        </div>
      </li>
    </ul>
  </div>
</div>
