<div class="isd-light-container isd-top-left" ng-controller="SaveDesignController">
  <cart-navigation step-number="1">
    <div class="isd-step-2" style="height:161px;">
      <span>请在继续之前给设计的图案娶个名称吧.</span>

      <div class="isd-step2-form isd-clearfix">
        <form is-submit="saveDesign()" style="width: 278px;" is-validate>
          <label style="float:none; font-size:14px;">图案名称</label>
          <br>

          <div class="isd-invalid-msg"></div>
          <input style="float:none;" type="text" class="isd-txt-btn" ng-model="saveInfo.designName"
                 data-input-type="required"/>
          <br>
          <input style="margin-top: 10px;width: 100px;float: none;" type="submit" class="isd-btn isd-button-primary" value="继续"/>
        </form>
      </div>
    </div>
  </cart-navigation>
  <a ng-click="close()" class="isd-close-btn">&nbsp;</a>
</div>
