.about {
    background-color: #fff;
    padding-bottom: 20px;
}

.about .col-sm-3 p {
    font-size: 18px;
    margin: 20px 0;
}

.about .col-sm-3 ol {
    padding-left: 20px;
}

.about .about-left ol li {
    padding-left: 0;
    line-height: 25px;
    font-size: 14px
}

.about .about-left ol li a {
    display: block
}

.about .about-right h1 {
    font-size: 22px
}

.about .about-right p {
    font-size: 14px;
    line-height: 1.5
}
.about .about-right h4{
    background-color: #ccc;
    font-size: 18px;
    padding: 8px 9px;
    margin-top: 42px;
}
#about-1,#about-2,#about-3,#about-4,#about-5,#about-6{
    font-size:18px;
    page-break-after: 20px;
}