html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,input,button,fieldset, legend,img { margin:0; padding:0; }
h1,h2,h3,h4,h5,h6{ font-size:14px; font-weight:normal;}
fieldset,img,button{ border:none; }
i{font-style: normal;}
img{display:block; border:0;}
ul,ol{list-style:none; }
textarea{resize:none; }
table{border-collapse:collapse; }
body{color:#333; font-size:12px; font-family:ºÚÌå;}
.clearfix:after{content:""; display:block;clear:both;}
.clearfix{zoom:1;}
a{ font-size:12px;color:#666; text-decoration:none;}
a:hover{text-decoration:none; cursor: pointer;}

.banxin{width: 1060px;margin:0 auto;}

.try{
    width: 100%;
    height: 0px;
    background: url(images/jiaocheng.png) top center no-repeat;
}

header{
    height: 110px;
    width: 100%;
    background: url(images/nav-bg.png) repeat-x;
    margin-bottom: 45px
}
.header-bg{
    float: left;
    width: 100px;
    height: 128px;
    background: url(images/header-bg.png) no-repeat;
    margin-top: -1px;
}
.nav{
    position: relative;
    z-index: 2;/* margin-top: 200px; */
}
.logo{
    width: 225px;
    height: 45px;
    background: url(../common/images/bai-logo.png) no-repeat;
    text-indent: -9999em;
    margin-top: 27px;
    float: left;
}
.logo a{
    display:block;
    width: 225px;
    height: 45px;
}
.how{
    color: #fff;
    position: relative;
    top:45px;
    left: 50px;
    cursor: pointer;
}
.how:after{
    content: "";
    position: absolute;
    top:-5px;
    left: -25px;
    width: 20px;
    height: 21px;
    background: url(images/ico1.png) no-repeat;
}
.login{
    float: right;
    margin-top: 27px;
}
.login div{
    display: inline-block;
}
.login .begin{
    width: 144px;
    height: 42px;
    /* background: url(../img/act.png) no-repeat; */
    border:1px solid #fff;
    border-radius: 5px;
    font-size: 18px;
    color:#fff;
    /* font-weight: bold; */
    display: inline-block;
    text-align: center;
    line-height: 45px;
}
.login .begin:hover{text-decoration: none;}
.login div a{
    margin-left: 40px;
    font-size: 14px;color: #fff;
}

/* 尾部样式 */
.foot{
    width: 100%;
    height: 215px;
    background: #231815;

}
.infooter{
    width: 1060px;
    height: 215px;
    /* background: pink; */
    margin:0 auto;border:1px solid #231815;
    position: relative;
}
.infooter h2{
    width: 206px;
    height: 43px;
    background: url(images/bai-logo.png) no-repeat;
    text-indent: -9999px;
    margin-top: 54px;
    float: left;
}
.infooter dl{
    float: left;
    margin-top: 22px;
    margin-left: 60px;
    color: #9e9e9f;font-weight: bold;
}
.infooter dl dt{line-height: 30px;}
.infooter dl dd{
    color: #fff;
    font-weight: normal;
    line-height: 22px;
}
.infooter dl dd a{
    color: #fff;
}
.infooter dl dd a:hover{color: #c02024; text-decoration: none;}
.infooter .ewm{
    width: 123px;
    height: 123px;
    background: url(images/easy-ewm.png) no-repeat;
    position: absolute;
    top: 20px;
    right: 30px;
}
.weibo,.weixin{
    padding-left: 20px;
    position: relative;
}
.weibo:after{
    content: "";
    width: 15px;
    height: 14px;
    position: absolute;
    top:5px;
    left:0;
    background: url(images/foot-weibo.png) no-repeat;
}
.weixin:after{
    content: "";
    width: 15px;
    height: 14px;
    position: absolute;
    top:5px;
    left:0;
    background: url(images/foot-weixin.png) no-repeat;
}

.infooter p{
    width: 960px;
    position: absolute;
    bottom:30px;
    left: 350px;
    color:#bbb;
}

.go-top{
    position: fixed;
    right: 30px;
    bottom: 200px;
    width: 106px;
    height: 106px;
    background:url(images/go-top.png) no-repeat;
    z-index: 10;
    cursor: pointer;
    display: none;
}

.denglu{
    width: 826px;
    height: 434px;
    background: #f5f5f5;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    overflow: hidden;
}
.denglu img{float: left;}
.denglu-con{
    /* width: 100%; */
    height: 433px;
    /* background:#eee; */
    /* float: left; */
    margin-left: 351px;
    padding:20px 25px 0 25px;
    box-sizing:border-box;
}
.denglu-con h3{
    font-size: 18px;
    text-align: center;
    font-family:黑体;
}
.denglu-con input{
    width: 80%;
    height: 30px;
    text-indent: 1em;
    font-size: 14px;
    color: #666;
    border-radius: 5px;
    border:none;
    border:1px solid #ccc;
}
.denglu-con label{
    line-height: 30px;
    font-size: 12px;
    cursor: pointer;
}
.forget{
    width: 50px;
    border-bottom: 1px solid #2f86b2;
    margin:10px auto;
}
.forget a{
    color: #2f86b2;
}
.forget a:hover{

}
.anniu{
    display: block;
    width: 125px;
    height: 34px;
    background:#ccc;
    line-height: 34px;
    margin:0 auto;
    text-align: center;
    border-radius: 3px;
    color: #000;}

.anniu:hover{
    text-decoration: none;
}
.wrong input{
	border-color: red;
}
.wrong span{color: red;}