html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,input,button,fieldset, legend,img { margin:0; padding:0; }
h1,h2,h3,h4,h5,h6{ font-size:14px; font-weight:normal;}
fieldset,img,button{ border:none; }
i{font-style: normal;}
img{display:block; border:0;}
ul,ol{list-style:none; }
textarea{resize:none; }
table{border-collapse:collapse; }
body{color:#333; font-size:12px; font-family:'黑体';}
.clearfix:after{content:""; display:block;clear:both;}
.clearfix{zoom:1;}
a{ font-size:12px;color:#666; text-decoration:none;}
a:hover{text-decoration:none; cursor: pointer;}
.hidden{display: none;}

.typeArea{width: 1060px;margin:0 auto;}

.try{
    width: 100%;
    height: 0px;
    background: url(images/jiaocheng.png) top center no-repeat;
    position: relative;
    overflow: hidden;
}
.try i{
    position: absolute;
    right: 30px;
    top: 30px;
    width: 42px;
    height: 42px;
    background: url(images/close1.png) no-repeat;
    cursor: pointer;
}

header{
    width: 100%;
}
.head-foot{
    height: 25px;
    background: url(images/head-foot.png) repeat-x;
}
.header-bg{
    float: left;
    width: 100px;
    height: 91px;
    background: url(images/header-bg.png) no-repeat;
    margin-top:23px;
}
.inHead{
    width: 100%;
    height: 72px;
    background: #221714;
}
.nav{
    position: relative;
    z-index: 2;/* margin-top: 200px; */
}
.logo{
    width: 225px;
    height: 45px;
    background: url(../common/images/bai-logo.png) no-repeat;
    text-indent: -9999em;
    margin-top: 27px;
    float: left;
}
.logo a{
    display:block;
    width: 225px;
    height: 45px;
}
.how{
    color: #fff;
    position: relative;
    top:45px;
    left: 50px;
    cursor: pointer;
}
.how:after{
    content: "";
    position: absolute;
    top:-5px;
    left: -25px;
    width: 20px;
    height: 21px;
    background: url(images/ico1.png) no-repeat;
}
.login{
    float: right;
    margin-top: 27px;
}
.login div{
    display: inline-block;
}
.login .begin{
    width: 144px;
    height: 42px;
    /* background: url(../img/act.png) no-repeat; */
    border:1px solid #fff;
    border-radius: 5px;
    font-size: 18px;
    color:#fff;
    /* font-weight: bold; */
    display: inline-block;
    text-align: center;
    line-height: 45px;
}
.login .begin:hover{text-decoration: none;}
.login div a{
    margin-left: 40px;
    font-size: 14px;color: #fff;
}

/* 尾部样式 */
.foot{
    width: 100%;
    height: 215px;
    background: #231815;

}
.infooter{
    width: 1060px;
    height: 215px;
    margin:0 auto;/*border:1px solid #231815;*/
    position: relative;
}
.infooter h2{
    width: 206px;
    height: 43px;
    background: url(images/bai-logo.png) no-repeat;
    text-indent: -9999px;
    margin-top: 54px;
    float: left;
}
.infooter dl{
    float: left;
    margin-top: 22px;
    margin-left: 60px;
    color: #9e9e9f;font-weight: bold;
}
.infooter dl dt{line-height: 30px;}
.infooter dl dd{
    color: #fff;
    font-weight: normal;
    line-height: 22px;
}
.infooter dl dd a{
    color: #fff;
}
.infooter dl dd a:hover{color: #c02024; text-decoration: none;}
.infooter .ewm{
    width: 123px;
    height: 123px;
    background: url(images/easy-ewm.png) no-repeat;
    position: absolute;
    top: 20px;
    right: 30px;
}
.weibo,.weixin{
    padding-left: 20px;
    position: relative;
}
.weibo:after{
    content: "";
    width: 15px;
    height: 14px;
    position: absolute;
    top:5px;
    left:0;
    background: url(images/foot-weibo.png) no-repeat;
}
.weixin:after{
    content: "";
    width: 15px;
    height: 14px;
    position: absolute;
    top:5px;
    left:0;
    background: url(images/foot-weixin.png) no-repeat;
}

.infooter p{
    /* width: 960px; */
    position: absolute;
    bottom:30px;
    left: 350px;
    color:#bbb;
}

.go-top{
    position: fixed;
    right: 30px;
    bottom: 200px;
    width: 106px;
    height: 106px;
    background:url(images/go-top.png) no-repeat;
    z-index: 10;
    cursor: pointer;
    display: none;
}
/* 正文开始 */
.denglu{
    width: 826px;
    height: 446px;
    background: #f5f5f5;
    position:relative;
    left: 50%;
    
    transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
    border-radius: 10px;
    overflow: hidden;
    margin-top: 100px;
    margin-bottom: 200px;
}
.denglu img{float: left; height: 100%;}
.denglu-con{
    height: 433px;
    margin-left: 351px;
    padding:20px 25px 0 25px;
    box-sizing:border-box;
    text-align: left;
   /*  display: none; */
}
.denglu-con>div{margin:0 auto; width: 277px; position: relative;}
.denglu-con h3{
    font-size: 18px;
    text-align: center;
    font-family: '黑体';
}
.denglu-con input{
    width: 275px;
    height: 30px;
    text-indent: 1em;
    font-size: 14px;
    color: #666;
    border-radius: 5px;
    border:none;
    border:1px solid #ccc;
}
.mar-center{margin:0 auto;}
.denglu-con label{
    line-height: 30px;
    font-size: 12px;
    cursor: pointer;
    padding-left: 10px;

}
.forget{
    width: 50px;
    text-align: center;
   
}
.forget a{
    color: #2f86b2;border-bottom: 1px solid #2f86b2;
    display: inline-block;
     margin-top:30px;
}
.forget a:hover{

}
.btnLogin{
    display: block;
    width: 125px;
    height: 34px;
    background:#a12625;
    line-height: 34px;
    margin:40px auto 18px;
    text-align: center;
    border-radius: 3px;
    color: #fff;}

.btnLogin:hover{
    text-decoration: none;
    background:#da3335;
}
.wrong input{
    border-color: red;
}
.hidden{display: none;}
.wrong span{
   left: 0;
   bottom: 32px;
    display: block;
}

.other-login>a{
    float: left;
    width: 26px;
    height: 25px;
    margin-left: 15px;
    cursor: pointer;
}
.qq{
    background: url(images/share-qq1.png) no-repeat;
}
.wb{
    background: url(images/share-weibo1.png) no-repeat;
}
.wx{
    background: url(images/share-weixin1.png) no-repeat;
}
.qq:hover{
    background: url(images/share-qq2.png) no-repeat;
}
.wb:hover{
    background: url(images/share-weibo2.png) no-repeat;
}
.wx:hover{
    background: url(images/share-weixin2.png) no-repeat;
}
.other-login span{
    float: left;
    /* margin-left: 83px; */
    padding-top: 5px;
    
}
.zc-link a{
    display:inline-block;
    width: 277px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    background: #ddd;
    border-radius: 3px;
    margin-top: 20px;
    color: #000;
}
.zc-link{
    margin-top: 40px;
    text-align: center;
}


/* 重置密码样式 */
.reset-con h3{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
    font-family: '黑体';
}
.reset-con h4{
    margin-bottom: 20px;
    font-size: 14px;
}
.reset-con{
    margin-left: 351px;
    text-align: center;
    /* display: none; */
}
.reset-con>div{
    display: inline-block;
     width: 278px;
     margin-bottom: 20px;

}
.reset-con>div>input{
    height: 35px;
    width: 274px;
    border:none;
    border:1px solid #b3b2b3;
    border-radius: 5px;
    text-indent: 5px;
}

.reset-con .sj input{
    width: 190px;
    border-radius: 5px 0 0 5px;
    float: left;
    
}
.reset-con>div{position: relative;}
.test-err i{
    position: absolute;
    bottom:36px;
    left:0px;
    
    display: block;
}
.reset-con .test-err input{border-color: red;}

.sj button{
    float: left;
    width: 83px;
    height: 37px;
    border:none;
    border:1px solid #ccc;
    border-left: none;
    background: #fff;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    line-height: 35px;
}
.dui{position: relative;}
.dui:after{
    content: "";
    position: absolute;
    right:10px;
    top:8px;
    width: 31px;
    height: 21px;
    background: url(images/dui.png) no-repeat;
}
div.err{position: relative;}
div.err button{
    display: none;
}
.reset-con div.err input{
    width: 274px;
    border-radius: 5px;
    border-color: red;
}
.reset-con div.err i{
    position: absolute;
    bottom:32px;
    left:0px;
    display: block;
}

.reset-con .res-btn{
    display: block;
    margin:0 auto;
    width: 278px;
    height: 39px;
    background: #a12625;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}
.reset-con button.current{
    background: #da3335;
}

/* 注册页面样式 */
.register{
  margin-left: 351px;
    text-align: center;  
    /* display: none; */
}
.register>div{
    display: inline-block;
     width: 278px;
     margin-bottom: 30px;
     height: 35px;
   /*   text-indent: 15px; */
}

.register .sj input{
    width: 190px;
    border-radius: 5px 0 0 5px;
    float: left;
}

.register>div>input{
    width: 100%;
    height: 100%;
    border:none;
    border:1px solid #b3b2b3;
    border-radius: 5px;
    text-indent: 5px;
}
.register label{
    display: block;
    text-align:left;
    line-height: 24px;
     text-indent: 15px;
}

.register h3{
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: bold;
    font-family: '黑体';
}

.reg-btn{
   display: block;
   width: 126px;
   height: 36px;
   background: #a12625;
   margin:0 auto;
    color: #fff;
    border-radius:5px;
    line-height: 36px;
    margin-top: 10px;
}
.reg-btn:hover{background: #da3335;}

.register .other-login{
    margin-bottom:0;
}
.register .other-login span{
  margin-left: 0;  
}
.register .zc-link{
    margin-top:0;
    margin-bottom: 0;
}
.register .zc-link a{margin-top: 0;}
.register .zc-btn{
    margin-bottom: 20px;
    margin-top: 10px;
    text-indent: 0;
}

.register .err input{
    width: 274px;
    border-radius: 5px;
    border-color: red;
}

.register  .err i{
    position: absolute;
    left: 0;
    bottom:10px;
    display: block;
}
 .register .Prompt{
   
    position: relative;
 }
  .register .Prompt input{ border-color: red;}
 .Prompt i{
    position: absolute;
    left: 0;
    bottom:10px;
    display: block;
  }


/* 注册成功样式 */
.zc-success{
    margin-left: 351px;
    text-align: center;
    /* display: none; */
}
.zc-success h3{
    font-size: 32px;
    color: #a12625;
    line-height: 88px;
    margin-top: 110px;
}
.zc-success p{
    color: #000;
    font-size: 14px;
}
.link-btn{
    margin-top: 20px;
}
.link-btn a{
    display: inline-block;
    width: 110px;
    height: 35px;
    background: #dddddd;
    text-align: center;
    line-height: 35px;
    font-size: 16px;
    color: #000;
    margin:0 5px;
    border-radius: 3px;
}
.link-btn a:hover{
    background: #da3335;
    color: #fff;
}

/* 关联成功类名 */
.guanlian-success{
    display: block;
}

/* 关联手机样式 */
.guanlian-sj{
    margin-left: 351px;
    text-align: center;
    /* display: none; */
}
.guanlian-sj h3{
    font-size: 18px;
    line-height: 60px;
}
.guanlian-sj p{
    width: 275px;
    height: 34px;
    margin:0 auto;
    padding-left: 10px;
    box-sizing: border-box;
}
.guanlian-sj p{text-align: left;}
.guanlian-sj div input{
    width: 275px;
    height: 34px;
    border:none;
    border:1px solid #717071;
    border-radius: 5px;
    text-indent: 10px;
}
.guanlian-sj div label{
    display: block;
    text-align:left;
    width: 275px;
    margin:0 auto;
    line-height: 35px;
    padding-left: 10px;
    box-sizing: border-box;
}

.guanlian-sj button{
    float: left;
    border-color:#717071 ;
    height: 36px;
    position: relative;
    z-index: 10;
}
.guanlian-sj .sj input{
    float: left;
    width: 193px;
    border-radius: 5px 0 0 5px;
    margin-left: 98px;
}
.guanlian-sj button.zc-link1,.guanlian-sj button.agree1{
    
    background: #ddd;
    color: #000;
    width: 277px;
    height: 34px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 0;
    margin-left: 98px;
}
.guanlian-sj button.agree1{ background: #a12625; color: #fff; margin-bottom: 10px;}
.guanlian-sj button.agree1:hover{
    background: #da3335;
}
.xieyi{
    padding:10px 0;
}
.xieyi a{
    color: #000;
    border-bottom: 1px solid #000;
}

 .guanlian-sj .phone-err{position: relative;}
 .guanlian-sj .phone-err input{
    width: 275px;
    border-radius: 5px;
    border-color: red;
 }
 .guanlian-sj .phone-err button{display: none;}
 .guanlian-sj .phone-err i{
    display: block;
    bottom:-2px;
 }

 .triangle{
    width: 140px;
    height: 21px;
    background: #ffd570;
    position: absolute;
    bottom:15px;
    left: 108px;
    line-height: 21px;
    text-align: center;
    border-radius: 3px;
 }
  .triangle:after{
    content: "";
    position: absolute;
    left: 9px;
    bottom:-15px;
    border: 8px solid transparent;
    border-right-color: #ffd570;
    transform: rotate(-92deg);
    -webkit-transform: rotate(-92deg);
  }

.guanlian-sj .err{position: relative;}
.guanlian-sj .err input{
    border-color: red;
}
.guanlian-sj .err i{
   bottom:35px;
    display: block;
}

.guanlian-account .err i{
   
    display: block;
}
.guanlian-account button.agree2{
    margin-top: 30px;
    margin-bottom: 30px;
}

.denglu>div>div{display: none;}
.denglu .show{display: block;}