.order .container {
    background: #fff;
    padding-bottom: 20px;
}
.order .order-list{
    font-size: 14px;

}
.order .order-list th,.order .order-list td{
    text-align: center;
    vertical-align: middle;
}
.order .order-list .order-list-img {

}
.order .order-list .order-list-img img{
    max-height: 50px;
    max-width: 50px;
}

.order .order-list .order-list-title {
    font-weight: bold;
    text-align: left;
}

.order .order-list .order-list-color {
    width: 10%;
}

.order .order-list .order-list-size {
    width: 10%;
}

.order .order-list .order-list-num {
    width: 13%;
}
.order .order-list .order-list-num .input-group .form-control{
    min-width: 20px;
    text-align: center;
    padding-left:5px;
    padding-right: 5px;
}
.order .order-list .order-list-price {
    width: 10%;
}
.order .order-list .order-list-delete {
    width: 5%;
}


/** 优惠券 */
.order .order-plug-coupon{

}
.order .order-plug-coupon .alert{
    margin-top: 10px;
    padding: 5px 10px;
}
.order .order-plug-coupon .alert .close{
    position: relative;
    top: -2px;
    right: -5px;
}
/* 订单汇总 */
.order .order-total{
    font-size:12px;
}
.order .order-total span{
    font-size: 18px;

}
.order .order-pay .btn{
    width: 160px;
    margin-right: 10px;
}
.order .order-pay .btn span{
    font-size: 22px;
    margin-right:5px ;
}
.order .order-pay .btn-buy-alipay{
    background-color: #eb9316;
    border-color: #df8505;
}
.order .order-pay .btn-buy-wechat{
    background-color: #00aa00;
    border-color: #024F03;
}

.order-complete{font-size: 1.2em;}
.order-complete .bg-info{padding: 10px}
.order-complete li{list-style: none}