<!-- Light box content start here -->
<div class="isd-light-container" ng-controller="AddNoteController">
    <h1>
        Please enter notes for our team</h1>
    <div class="isd-light-main isd-textarea isd-clearfix">
        <textarea ng-model="note" placeholder="Enter Message Here..."></textarea>
        <a class="isd-btn isd-button-primary" ng-click="saveNote()" style="float:right;">Save note</a>
    </div>
    <a ng-click="close()" class="isd-close-btn">&nbsp;</a>
</div>
<!-- Light box content end here -->
