<div class="isd-light-container isd-save-and-name-design" ng-controller="SaveAndNameDesignController"
     ng-class="{'isd-nameOnly': hideNote}">

  <div class="isd-light-main isd-clearfix saveDesign">
    <h1 ng-cloak>{{artToolsMode ? "Save & Share" : "Name Your Design"}}</h1>

    <p class="p">Please name and save your custom design before proceeding.</p>

    <form is-submit="saveDesign()" is-validate style="margin-top:20px;">

      <div>
        <label style="font-size:14px;">Design Name: </label><br>

        <div class="isd-invalid-msg"></div>
        <input type="text" class="isd-txt-btn" ng-model="designName" data-input-type="required" style="width:400px;"/>
      </div>
      <div ng-hide="hideNote">
        <br><br><br>
        <label style="font-size:14px;">Message: </label><br>
        <textarea ng-model="note" rows="10" placeholder="Enter Message Here..."></textarea>
      </div>
      <br><br>
      <input type="submit" class="isd-btn isd-button-primary" value="Continue"/>
    </form>
    <a ng-click="close()" class="isd-close-btn">&nbsp;</a>
  </div>
</div>
