<div class="angularAppElement" ng-controller="DesignerController" id="angularAppElement">
    <div class="design-navbar navbar navbar-inverse navbar-static-top" ng-controller="ActionController">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="step" ng-class="{'active':step==1}"><a href="javascript:;" ng-click="goToStep(1)">1. 设计图案</a></li>
                <li class="step" ng-class="{'active':step==2}"><a href="javascript:;" ng-click="goToStep(2)">2. 设定目标</a></li>
                <li class="step" ng-class="{'active':step==3}"><a href="javascript:;" ng-click="goToStep(3)">3. 开始众筹</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!--<li class="step" ng-show="isStep1(1)" is-disabled="!hasDesign()"><a ng-click="SaveDesign()">保存</a></li>-->
                <li class="step" ng-show="checkState('prev')"><a href="javascript:;" ng-click="prevStep()">上一步</a></li>
                <li class="step" ng-show="checkState('next')" is-disabled="!hasDesign()"><a href="javascript:;" ng-click="nextStep()">下一步</a></li>
                <li class="step" ng-show="checkState('save')"><a href="javascript:;" ng-click="done()">发起活动</a></li>
            </ul>
        </div>
    </div>
    <div class="isd-step clearfix">
        <div class="isd-step-1">
            <div class="design-main">
                <div id="designerContainer">
                    <div class="isd-step-1-mask" ng-show="step != 1"></div>
                </div>
                <!-- 设计的内容. -->
                <div id="raphael">
                </div>
                <div class="isd-product-toolbar" ng-controller="ActionController" ng-init="offset = 0; pageSize = 999;">
                    <ul ng-controller="ProductRegionController">
                        <li ng-repeat="side in productSides"
                            ng-class="{'active':current_sideID==side.activeRegion.sideIndex}" b="{{current_sideID}}"
                            a="{{side.activeRegion.sideIndex}}">

                            <div class="isd-product-viewer" ng-click="changePrintRegion(side.activeRegion.regionIndex)">
                                <img ng-src="{{side.activeRegion.thumburl}}" alt=""
                                     ng-style="{'background-color': html_color}"/>
                                <div id="{{side.activeRegion.canvasId}}"
                                     ng-init="loadPreview(side.activeRegion.regionIndex,side.activeRegion.sideIndex)"
                                     style="position: absolute;width: 100%;height:100%;top:0px;left:0"></div>
                                <!--<span class="small" ng-repeat="region in side.regions">{{region.description}}</span>-->
                            </div>

                            <select ng-model="side.activeRegion"
                                    ng-options="region.description for region in side.regions"
                                    ng-init="side.activeRegion = side.activeRegion"
                                    ng-change="changePrintRegion(side.activeRegion.regionIndex)" style="display: none">
                            </select>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="design-tool">
                <div role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active col-sm-6"><a style="border-radius: 3px 0 0 0;" href="#/addText" is-hide-drawers>文字</a></li>
                        <li role="presentation" class="col-sm-6"><a style="border-radius: 0 3px 0 0;" href="#/editImagePane">图片</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" ng-controller="ActionController">
                            <div ng-view></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="design-product" ng-controller="ProductCategoriesController" ng-init="pageSize = 999;">
                <form>
                    <div class="form-group">
                        <label>切换款式</label>
                        <select class="form-control" ng-model="selectedCategoryID" ng-change="selectCategoryByID()">
                            <option value="{{category.id}}" ng-repeat="category in categoriesFlat"
                                    is-attr="{disabled : category.isParent}">
                                {{category.name}}
                            </option>
                        </select>
                    </div>
                    <!--
                        product-id="{{product.product_id}}"

                        ng-class="{'active':product.product_id==selectedProductID}"


                    -->
                    <div class="form-group">
                        <ul class="list-group">
                            <li class="list-group-item"
                                ng-init="product.product_id==selectedProductID?selectProduct(product,$event):'';"
                                ng-click="selectProduct(product,$event);"
                                ng-repeat="product in products">
                                <a class="media">
                                    <div class="media-left">
                                        <img class="media-object" ng-src="{{product.thumburl_large}}" alt="{{product.name}}">
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                            {{product.name}}
                                            <span class="glyphicon glyphicon-info-sign more-info" title="更多信息" ng-click="openDetailPage(product.product_id)"></span>
                                        </h4>
                                        <p>
                                            <span>品牌：{{product.manufacturer}}</span>
                                            <br>
                                            <span>价格：{{product.unit_price+10}}</span>
                                        </p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <div class="isd-product-colors isd-product-colors-auto-width" ng-controller="BrowseProductsController">
                            <ul ng-init="previewProductStyle()">
                                <li show-color-tooltip data-color="#{{style.html_color}}" class="shirt-color-sample colortip__color"
                                    ng-class="{'active':style.product_style_id==productStyle.product_style_id}"
                                    ng-click="selectProduct(product,style)"
                                    ng-repeat="style in product.product_styles"
                                    ng-style="{'background-color':'#' + style.html_color, 'display': $index>3?'none':''}"
                                    preview-src="{{style.defaultRegion.imgurl}}" title="{{style.color}}"></li>
                                <li class="shirt-color-sample more" title="更多款式颜色"
                                    ng-show="product.product_styles.length>4" ng-click="showmore()"></li>
                            </ul>
                            <span class="shirt-color-panel-right_bg"></span>
                            <span class="shirt-color-panel-right"></span>
                        </div>
                    </div>
                    <div class="form-group" id="isd-price_preview" ng-controller="DesignColorsController">
                        <p>50件的单件成本</p>

                        <div class="price_preview" ng-model="price_preview">¥{{price_preview}}</div>
                        <div ng-class="{'step': true, 'isd-disabled':!hasDesign()}">
                            <a class="btn btn-success btn-block btn-lg" ng-click="nextStep()">下一步</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div ng-controller="SaleGoalController">
            <div class="isd-step-2">
                <div class="col-xs-12">
                    <div class="form-group sales-target">
                        <label for="tipping_point">众筹目标</label>
                        <div id="point_slider"></div>
                        <div>
                            <p>
                                <input type="text" id="tipping_point" maxlength="5" class="form-control"
                                       ng-model="saleGoal" ng-change="saleGoalInputChange()" ng-blur="saleGoalInputBlur()"> 件
                            </p>
                            <p class="text-color-999">在活动结束之前,完成最低的众筹目标（10）件，即可开始生产!</p>
                        </div>
                    </div>
                    <div class="form-group sales-profit">
                        <label ng-hide="isErrorProTotalProfit()">预计利润</label>
                        <label ng-show="isErrorProTotalProfit()" style="color: red;">预计利润不能小于等于零</label>
                        <div id="total_profit" style="{{preTotalProfit=='NaN'?'':preTotalProfit>0?'':'color: red;'}}">
                            ￥
                                <span>
                                    {{preTotalProfit=='NaN'?'努力计算中...':(preTotalProfit>0?preTotalProfit+'+':preTotalProfit)}}
                                </span>
                        </div>
                    </div>
                    <div class="form-group sales-products">
                        <label ng-hide="isErrorProfitOfProduct()">设置售价</label>
                        <label ng-show="isErrorProfitOfProduct()" style="color: red;">设置售价不能为空</label>
                        <ul class="product-style-list">
                            <li class="active" ng-repeat="product in products track by $index">
                                <table class="table table-condensed active">
                                    <tr>
                                        <td rowspan="2" class="table-col-1">
                                            <a href="javascript:;" ng-show="$index != 0" class="del-btn glyphicon glyphicon-trash" ng-click="deleteProduct(product)"></a>
                                        </td>
                                        <td rowspan="2" class="table-col-2">
                                            <img ng-src="{{product.thumburl_front}}">
                                        </td>
                                        <td class="table-col-3" valign="top">{{product.name + '/' + product.manufacturer}}</td>
                                        <td class="table-col-4">
                                            <input type="text" id="product_price_input_{{product.product_id}}" class="form-control input-sm sell_rice" ng-model="product.price" ng-blur="productPriceInputCheck(product)">
                                        </td>
                                        <td class="table-col-5">
                                            ￥
                                            <span>{{product.profit}}</span>
                                            <div>单件利润</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" class="table-col-7">
                                            <div>
                                                <div class="dropdown active-color-panel">
                                                    <div id="dLabel" class="color-panel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></div>
                                                    <ul class="dropdown-menu color-panel-list" role="menu" aria-labelledby="dLabel" style="left: 20px;width: 318px;top: -40px;">
                                                        <li ng-class="{active: style.selected}" ng-repeat="style in product.product_styles">
                                                            <span ng-click="toggleColor($event, product, style)" ng-style="{'background-color':'#' + style.html_color}" title="{{style.color}}"></span>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="active-color-list" ng-repeat="style in product.product_selected_styles">
                                                    <div ng-style="{'background-color':'#' + style.html_color}" class="active-color"><span></span></div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <label>添加款式</label>
                        <div class="form-inline" ng-controller="ProductCategoriesController">
                            <div class="form-group">
                                <select class="form-control" ng-model="selectedCategoryID" ng-change="selectCategoryByID()">
                                    <option value="{{category.id}}" ng-repeat="category in categoriesFlat">
                                        {{category.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control" ng-model="products.product" ng-change="selectProductChange()" ng-options="product as product.name + '/' + product.manufacturer for product in products">
                                </select>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-default" ng-click="addProduct()">添加</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="isd-step-3">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label>活动名称</label>
                        <input type="text" ng-model="activityName" class="form-control">
                        <span class="error-msg">活动名称不能为空！</span>
                    </div>
                    </form>
                    <div class="form-group">
                        <label>活动说明</label>
                        <div class="ueditor" ng-model="description" style="height: 1git 60px;"></div>
                        <!--<textarea class="form-control" rows="3" ng-model="description"></textarea>-->
                        <span class="error-msg">活动说明不能为空！</span>
                    </div>
                    <div class="form-group">
                        <label>活动期限</label>
                        <select class="form-control" ng-model="deadline">
                            <option value="1">一天</option>
                            <option value="3">三天</option>
                            <option value="5">五天</option>
                            <option value="7">一周</option>
                            <option value="15">半个月</option>
                            <option value="30">一个月</option>
                            <option value="90">三个月</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input id="deliveryType" type="checkbox" ng-model="deliveryType" ng-click="changeDeliveryType()">
                        <label for="deliveryType">易衫网配送到指定地址，买家到领取地址领取。</label>
                    </div>
                    <div class="form-group" ng-show="deliveryType == true">
                        <div class="clearfix" style="position: relative;">
                            <label>收货地址</label>
                            <a is-show-drawer="address" class="btn btn-link" style="position: absolute; right: 100px; top: -5px;">
                                <span>新增收货地址</span>
                            </a>
                            <a href="/user/setting/address" target="_blank" class="btn btn-link" style="position: absolute; right: 0; top: -5px;">
                                <span>管理收货地址</span>
                            </a>
                        </div>
                        <div id="addressListTable" class="table-responsive" ng-controller="AddressListController" style="max-height: 138px; padding-right: 20px;">
                            <table id="addressTable" class="table table-condensed table-hover">
                                <tbody>
                                <tr ng-repeat="address in addressList track by $index" ng-click="selectAddress()">
                                    <td>
                                        <input type="radio" name="selectedAddressGroup" value="{{address.id}}"/>
                                    </td>
                                    <td>
                                        {{address.receiver}}
                                    </td>
                                    <td>
                                        {{address.address}}
                                    </td>
                                    <td>
                                        {{address.tel}}
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <a is-show-drawer="address" class="btn btn-link">
                                            <span>新增收货地址</span>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--<div class="form-group">-->
                        <!--<input id="freePostage" type="checkbox" ng-model="freePostage">-->
                        <!--<label for="freePostage">包邮</label>-->
                    <!--</div>-->
                    <!--<div class="form-group" ng-show="deliveryType == true">-->
                        <!--<textarea class="form-control" rows="3" ng-model="addressInfo" placeholder="捎一句话给卖家"></textarea>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
    <div id="isd-LoaderContainer">
        <div class="isd-loading-center">
            <div class="isd-loading-center-absolute">
                <div class="isd-loading-object_one"></div>
                <div class="isd-loading-object_two" style="left:20px;"></div>
                <div class="isd-loading-object_three" style="left:40px;"></div>
                <div class="isd-loading-object_four" style="left:60px;"></div>
                <div class="isd-loading-object_five" style="left:80px;"></div>
            </div>
            <div class="loading-center-text"></div>
        </div>
    </div>
</div>
<div id="doneDialog" class="modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body clearfix">
                <div id="creat_act_loading"></div>
                <a id="activityDirect" style="display: none"></a>
                <h1 style="margin-bottom:30px;margin-top: 125px;font-size: 35px;line-height: 50px;text-align: center">
                    正在创建活动...</h1>
            </div>
        </div>
    </div>
</div>

