html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,input,button,fieldset, legend,img { margin:0; padding:0; }
h1,h2,h3,h4,h5,h6{ font-size:14px; font-weight:normal;}
fieldset,img,button{ border:none; }
i{font-style: normal;}
img{display:block;}
ul,ol{list-style:none; }
textarea{resize:none; }
table{border-collapse:collapse; }
body{color:#333; font-size:12px; font-family:黑体;}
.clearfix:after{content:""; display:block;clear:both;}
.clearfix{zoom:1;}
a{ font-size:12px;color:#666; text-decoration:none;}
a:hover{text-decoration:none; cursor: pointer;}

.banxin{width: 1060px;margin:0 auto;}

header{
	height: 110px;
	width: 100%;
	background: url(../img/nav-bg.png) repeat-x;
}
.header-bg{
	float: left;
	width: 100px;
	height: 128px;
	background: url(../img/header-bg.png) no-repeat;
	margin-top: -1px;
}
.nav{
	position: relative;
	z-index: 2;/* margin-top: 200px; */
}
.logo{
	width: 225px;
	height: 45px;
	background: url(../img/bai-logo.png) no-repeat;
	text-indent: -9999em;
	margin-top: 27px;
	float: left;
}
.logo a{
	display:block;
	width: 225px;
	height: 45px;
}
.how{
	color: #fff;
	position: relative;
	top:45px;
	left: 50px;
	cursor: pointer;
}
.how:after{
	content: "";
	position: absolute;
	top:-5px;
	left: -25px;
	width: 20px;
	height: 21px;
	background: url(../img/ico1.png) no-repeat;
}
.login{
	float: right;
	margin-top: 27px;
}
.login div{
	display: inline-block;
}
.login .begin{
	width: 144px;
	height: 42px;
	/* background: url(../img/act.png) no-repeat; */
	border:1px solid #fff;
	border-radius: 5px;
	font-size: 18px;
	color:#fff;
	/* font-weight: bold; */
	display: inline-block;
	text-align: center;
	line-height: 45px;
}
.login .begin:hover{text-decoration: none;}
.login div a{
	margin-left: 40px;
	font-size: 14px;color: #fff;
}

/* 订单展示部分 */
.dingdan{
	margin-top: 45px;
}
.dingdan-show{
	float: left;
	width: 640px;
	height: 550px;
	background: pink;
}
.dingdan-info{
	float: left;
	width: 405px;
	height: 550px;
	background: rgba(0,0,222,.1);
}
.dingdan-info h3{
	font-size: 34px;
	text-align: center;
}
.jiage{
	padding-left: 36px;
	margin-top: 25px;

	
}
.jiage-num{
	font-size: 30px;
	padding-left: 20px;
	position: relative;
	float: left;
}
.jiage-num:after{
	content: "";
	position: absolute;
	left: 0;
	top:6px;
	width: 18px;
	height: 28px;
	background: url(../img/jiage-num.png) no-repeat;
}
.ren{
	position: relative;
	top:4px;
	right: 46px;
	float: right;
	background: #fc5457;
	color: #fff;
	/* padding:3px; */
	height: 24px;
	font-size: 14px;
	line-height: 24px;
	max-width: 170px;
}
.ren:after{
	content: "";
	position: absolute;
	top:0;
	right: -11px;
	width: 11px;
	height: 24px;
	background: url(../img/ren-icon-r.png) no-repeat;
}
.ren:before{
	content: "";
	position: absolute;
	top:0;
	left: -13px;
	width: 13px;
	height: 24px;
	background: url(../img/ren-icon-l.png) no-repeat;
}

.num-sell{
	margin-left: 36px;
	padding-top: 10px;
	width: 279px;
	border-bottom: 1px solid #cccccc;
}
.sell-l{
	float: left;
	font-size: 16px;
	position: relative;
	left: 15px;
	padding-left:15px;
}
.sell-l:after{
	content: "";
	position: absolute;
	left: -10px;
	top: 0;
	width: 20px;
	height: 19px;
	background: url(../img/sell-icon.png) no-repeat;
}
.sell-r{
	float: right;
	font-size: 16px;
}
.num-sell p{
	margin-top: 10px;
	padding-left: 27px;
	color: #8c8c8e;
}