<ul id="editImagePane" ng-controller="UploaderLandingController">
    <li is-tooltip="1">
        <button ng-hide="showUploadImageScreen" class="btn btn-block btn-success" ng-hide="disableUploadImage" ng-click="showUploadImageScreen=1" is-hide-drawers="">
            上传图片
        </button>
        <div class="isd-upload-image"
             ng-show="showUploadImageScreen" is-inline-modal="showUploadImageScreen" ng-cloak>
            <p class="p">
                <strong>支持的文件类型</strong>
            <span ng-repeat="fileType in allowedFileTypes">{{fileType}}<span ng-show="!$last">,</span>&nbsp;</span>
            </p>
            <div ng-show="uploadImageTermsData.terms" id="uploadImageTermsWrap">
                <h4>图片上传条款</h4>
                <div id="uploadImageTermsContent" ng-bind-html="uploadImageTermsData.terms"></div>
                <input type="checkbox" id="checkboxAcceptUploadTerms" ng-model="uploadImageTermsData.accepted" ng-change="acceptedUploadImageTermsChanged()" value="true">
                <label for="checkboxAcceptUploadTerms">我同意上传作品的条件。</label>
            </div>

            <div ng-show="uploadImageTermsData.accepted">
                <form id="uploadForm">
                    <a  onclick="if (!$(this).hasClass('isd-disabled')) $('#localUploadFile').trigger('click');"
                       is-disabled="!uploadImageTermsData.accepted" ng-click="showUploadImageScreen=0;"
                       class="btn btn-primary btn-lg"><span id="isd-labelFromComputer">来自电脑</span></a>
                    <input type="file" name="Filename" id="localUploadFile" is-auto-load is-attr="{accept: fileTypes}"/>
                </form>
                <a ng-click="showUploadImageScreen=0;mobileUpload('drawer');"
                   is-disabled="!uploadImageTermsData.accepted" is-drawer-width="759px"
                   class="btn btn-primary btn-lg hidden" ng-hide="disableUploadRasterArt"><span
                        id="isd-labelFromMobile">来自手机</span></a>
            </div>
              <p class="p" style="font-size: 12px;line-height: 17px;color:#b5b5b5;padding:20px 0;">
             <strong>提示</strong><br>如果上传，则表示您拥有上传的图片的使用权利,我们保留不予生产的权利</p>

        </div>
    </li>
    <hr/>
    <!--<li ng-hide="showUploadImageScreen">-->
        <!--<a is-show-drawer="designIdeas" ng-click="showingInlineModal=0" is-tooltip="9" ng-hide="disableDesigns" class="btn btn-block btn-primary">模版市场</a>-->
    <!--</li>-->
    <!--
       <li ng-hide="showUploadImageScreen">
           <a is-show-drawer="clipArt" ng-click="showingInlineModal=1" is-tooltip="10" ng-hide="disableClipArt" class="btn btn-block btn-primary">素材库</a>
       </li>
   -->
       <li ng-hide="showUploadImageScreen" style="display: none">
           <a href="" class="btn btn-block btn-primary">我的素材</a>
       </li>
   </ul>