.design-main .design-center .design-tools {
    position: relative;
    float: left;
    margin-top: 30px;
    z-index: 3;
}

.design-main .design-center .design-tools .tabs {
    width: 250px;
    height: 50px;
}

.design-main .design-center .design-tools .tabs .tab {
    width: 50%;
    text-align: center;
    position: absolute;
    top: 2px;
    right: 0;
}

.design-main .design-center .design-tools .tabs .tab:first-child {
    left: 0;
}

.design-main .design-center .design-tools .tabs .tab.active {
    z-index: 4;
    top: 2px;
}

.design-main .design-center .design-tools .tabs .tab > a {
    font-size: 16px;
    display: block;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #fff;
    background: #ECECEC;
    font-weight: bold;
    line-height: 48px;
}

.design-main .design-center .design-tools .tabs .tab.active > a {
    color: #aa2425;
    background: #ffffff;
    border: 1px solid #c2c2c2;
    border-bottom: 0;
}

.design-main .design-center .design-tools .tab-content {
    width: 250px;
    border: 1px solid #c2c2c2;
    position: relative;
    display: none;
    z-index: 1;
}

.design-main .design-center .design-tools .tab-content.active {
    display: block;
}

.design-main .design-center .design-tools .tab-content .tab-content-image-layout {
    border-top: 1px solid #c5bbbc;
    height: 130px;
    position: relative;
}

.design-main .design-center .design-tools .tab-content .tab-content-image-layout .upload-location-btn {
    position: absolute;
    width: 168px;
    height: 40px;
    border-radius: 3px;
    background: #aa2425;
    color: #fff;
    font-size: 16px;
    display: block;
    text-align: center;
    line-height: 40px;
    top: 58px;
    left: 50%;
    margin-left: -84px;
}

.design-main .design-center .design-tools .tab-content .tab-content-image-layout .upload-vendor-btn {
    position: absolute;
    width: 168px;
    height: 40px;
    border-radius: 3px;
    background: #aa2425;
    color: #fff;
    font-size: 16px;
    display: block;
    text-align: center;
    line-height: 40px;
    top: 32px;
    left: 50%;
    margin-left: -84px;
}

.design-main .design-center .design-tools .tab-content .tab-content-image-layout:first-child {
    border: 0;
}

.design-main .design-center .design-tools .tab-content .tab-content-image-layout-or {
    font-size: 14px;
    position: absolute;
    top: 122px;
    left: 92px;
    width: 60px;
    height: 18px;
    line-height: 18px;
    background: #fff;
    z-index: 1;
    text-align: center;
    color: #808080;
}

.design-main .design-center .design-selected-tools {
    display: none;
}

.design-main .design-center .product-preview {
    width: 530px;
    display: inline-block;
    height: 630px;
    margin-left: 40px;
    margin-top: 30px;
}

.design-main .design-center .product-choices {
    position: relative;
    background: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #cacaca;
    padding: 10px;
    float: right;
    width: 224px;
    margin-top: 30px;
    z-index: 3;
}

.design-main .design-center .product-choices .label {
    font-size: 16px;
    display: block;
    text-align: center;
    height: 32px;
    line-height: 32px;
    font-weight: bold;
}

.design-main .design-center .product-choices .product-list {
    background: #F9F9F9;
    border: 1px solid #e8eced;
    margin-top: 10px;
}

.design-main .design-center .product-choices .product-item {
    display: block;
    margin: 0 0 5px 0;
    padding: 5px;
    cursor: pointer;
    border: 1px solid transparent;
    position: relative;
}

.design-main .design-center .product-choices .product-item.active {
    border: 1px solid #A22625;
    border-radius: 3px;
    background: #FFFFFF;
}

.design-main .design-center .product-choices .product-item.active .name {
    color: #AA2425;
}

.design-main .design-center .product-choices .product-item img {
    float: left;
    margin-right: 15px;
}

.design-main .design-center .product-choices .product-item div .name {
    font-size: 16px;
    display: block;
    line-height: 1.8;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.design-main .design-center .product-choices .product-item div .desc {
    font-size: 14px;
    display: block;
}

.design-main .design-center .product-choices .product-item div .info {
    font-size: 14px;
    display: block;
    color: #C06F75;
}

.design-main .design-center .product-choices .pre-cost {
    text-align: center;
    line-height: 48px;
}

.design-main .design-center .product-choices .pre-cost i {
    font-size: 21px;
}

.design-main .design-center .product-choices .pre-cost i:first-child {
    font-size: 14px;
}

.design-main .design-center .product-choices .btn {
    width: 86px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #fff;
    border: 1px solid #cacaca;
    margin: 5px auto;
    display: block;
    border-radius: 3px;
}

.design-main .design-center .upload-location {
    margin: 38px 15px;
    display: none;
}

.design-main .design-center .upload-location p {
    margin: 0 0 20px 0;
}

.design-main .design-center .upload-location .font-color-red {
    color: #AA2425;
}

.design-main .design-center .upload-location-btn {
    width: 168px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #aa2425;
    color: #fff;
    margin: 0 auto;
    font-size: 18px;
    display: block;
    border-radius: 3px;
}

.design-main .design-center .image-store {
    display: none;
}

.design-main .design-center .image-store .image-list {
    max-height: 300px;
    overflow-y: auto;
}

.design-main .design-center .image-store .image-list .image-list-item {
    width: 70px;
    margin-bottom: 10px;
    float: left;
}

.design-main .design-center .image-store .image-list .image-list-item.active .img-wrap {
    border: 1px solid #AA2425;
    border-radius: 3px;
    background: #ffe5e5;
    display: block;
}

.design-main .design-center .image-store .image-list .image-list-item img {
    display: block;
    width: 100%;
}

.design-main .design-center .image-store .image-list .image-list-item span {
    display: block;
    width: 100%;
    font-size: 12px;
    text-align: center;
}

.used-images {
    width: 250px;
}

.used-images .label {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0 0 10px;
}

.used-images .image-list {
    overflow: hidden;
}

.used-images .image-list-item {
    display: block;
    width: 70px;
    float: left;
}

.color-picket-list {
    padding: 6px;
}

.color-picket-item {
    width: 22px;
    height: 22px;
    padding: 2px;
    border: 1px solid #eee;
    border-radius: 3px;
    display: block;
    margin: 0 0px 7px 0;
    float: left;
    position: relative;
}

.color-picket-item span {
    display: block;
    width: 100%;
    height: 100%;
}

.color-picket-item:hover span {
    position: absolute;
    top: -1px;
    left: -1px;
    height: 22px;
    width: 22px;
    border-radius: 3px;
    box-shadow: 0 0 1px #d8dddf;
}

.font-families {
    margin-top: 5px;
    border-top: 1px solid #ccc;
    overflow: auto;
    height: 230px;
}

.font-families-item {
    background: 10px center no-repeat;
    height: 27px;
    display: block;
    padding: 3px;
}

.font-families-item:hover {
    background-color: #f6f6f6;
}

.font-families-item img {
    display: block;
    width: 100%;
}

.product-color-picket {
    position: absolute;
    top: 0;
    right: 208px;
    border: 1px solid #CDCDCD;
    box-shadow: 1px 1px 6px #B0B0B0;
    background: #fff;
    z-index: 1;
    padding: 8px 13px 8px 8px;
    overflow: hidden;
}

.product-color-picket ul.color-column {
    float: right;
    margin: 0 3px;
    display: none;
}

.product-color-picket ul.color-column.quick-colors {
    display: block;
}

.product-color-picket li.color-item {
    width: 22px;
    height: 22px;
    padding: 2px;
    border: 1px solid #DADADA;
    border-radius: 3px;
    display: block;
    margin: 4px 0px;
    position: relative;
}

.product-color-picket li.color-item span {
    display: block;
    width: 100%;
    height: 100%;
}

.product-color-picket li.color-item:hover span {
    position: absolute;
    top: -1px;
    left: -1px;
    height: 22px;
    width: 22px;
    border-radius: 3px;
    box-shadow: 0 0 1px #d8dddf;
}

.product-color-picket li.more-color {
    width: 22px;
    height: 22px;
    padding: 2px;
    border: 1px solid #DADADA;
    border-radius: 3px;
    display: block;
    position: relative;
    margin: 4px 0px;
}

.product-color-picket li.more-color span {
    background: url(images/icon-more-color.png);
    display: block;
    width: 100%;
    height: 100%;
}

.icon-tools {
    float: left;
    width: 32px;
    height: 32px;
    border-radius: 3px;
    margin-left: 10px;
    background-color: #DADBDB;
    border: 1px solid #DADBDB;
}
.icon-tools:first-child {
    margin-left: 0;
}
.icon-tools-duplicate {
    background: url(images/icon-tools.png) 6px 1px;
}
.icon-tools-move-bottom {
    background: url(images/icon-tools.png) -118px 1px;
}
.icon-tools-align-center {
    background: url(images/icon-tools.png) -53px 1px;
}
.icon-tools-horizontal {
    background: url(images/icon-tools.png) -187px 1px;
}
.icon-tools-vertical {
    background: url(images/icon-tools.png) -253px 1px;
}
