body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #383838;
    background-color: #fff;
}

* {
    box-sizing: border-box;
}

a:link {
    color:inherit;
}
a:visited {
    color: inherit;
}
a:hover {
    color: inherit;
}
a:active {
    color: inherit;
}
a {
    text-decoration: none;
}

.design-main {
    min-width: 1280px;
}

.design-main .form-row {
    margin: 10px;
}

.design-main .form-row .l-per-70 {
    width: 70%;
    float: left;
}

.design-main .form-row .r-per-25 {
    width: 25%;
    float: right;
}

.design-main .form-label {
    line-height: 1;
    font-size: 14px;
    margin-left: 7px;
    color: #6F6B6B;
}

.design-main input[type=text].form-control{
    display: block;
    width: 100%;
    height: 38px;
    background-color: #fff;
    background-size: 14px 1pc;
    border: 1px solid #e8eced;
    border-radius: 5px;
    color: #293033;
    line-height: 1.4;
    outline: 0;
    max-width: 100%;
    font-size: 14px;
    padding: .5rem 2rem .5rem .86667rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.design-main select.form-control{
    display: block;
    width: 100%;
    height: 38px;
    background-color: #fff;
    background-image: url(/css/common/images/double_caret.png);
    background-repeat: no-repeat;
    background-position: right .3rem top 50%;
    background-size: 14px 1pc;
    border: 1px solid #e8eced;
    border-radius: 5px;
    color: #293033;
    line-height: 1.4;
    outline: 0;
    max-width: 100%;
    font-size: 14px;
    padding: .5rem 2rem .5rem .86667rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.design-main .design-dropdown {
    position: relative;
}

.design-main .design-dropdown:after {
    content: "";
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAAeCAYAAABwmH1PAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoTWFjaW50b3NoKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo0RkRBRThGOUM2OTkxMUU0QjhFN0I4RUIyRkQ1NTBFNyIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo0RkRBRThGQUM2OTkxMUU0QjhFN0I4RUIyRkQ1NTBFNyI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjRGREFFOEY3QzY5OTExRTRCOEU3QjhFQjJGRDU1MEU3IiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjRGREFFOEY4QzY5OTExRTRCOEU3QjhFQjJGRDU1MEU3Ii8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+4rBaLgAAAOZJREFUeNrs2csNgzAQBFCIKDS+pIAUkgJygU6dIOUYYD8zaxszF5CQJZ4Ae9eMOeehp9yGztIdeNq68HrP8/dwb9S1PB8pqZ7wb8ByJuzhK90gehcr+oYbQh9ixZNWA2gRVjVLV4wWY9XLUoVoFda0DleEXu8haQeZCo8K0Casq9IqiDZj3aVlAbQLi6qlo9BuLLJ5YKMhWHS3xELDsIz2EI2GYln9MAoNxzI3ALxoCpa942FF07BssAVNxUaANWg6NgosQYdgI8F76DBsNPgfOhS7ZirQ7aSN85CM16+WC3yufAQYAGtPS7cLsBXhAAAAAElFTkSuQmCC) left center no-repeat;
    background-size: 9pt 7px;
    width: 9pt;
    height: 7px;
    position: absolute;
    right: .5rem;
    top: 42%;
    transition: transform .2s;
    z-index: -1;
}

.design-main .design-dropdown .design-dropdown-btn {
    position: relative;
    height: 38px;
    width: 100%;
    border: 1px solid #e8eced;
    border-radius: 5px;
    cursor: pointer;
}

.design-main .design-dropdown .design-dropdown-color {
    width: 22px;
    height: 22px;
    padding: 2px;
    border: 1px solid #eee;
    border-radius: 3px;
    display: block;
    margin: 7px 0 0 8px;
}

.design-main .design-dropdown .design-dropdown-color span {
    display: block;
    width: 100%;
    height: 100%;
}

.design-main .design-dropdown .design-dropdown-fontfamily {
    height: 22px;
    margin: 9px 0 0 13px;
}

.design-main .design-dropdown .design-dropdown-fontfamily img {
    height: 100%;
}

.design-main .design-dropdown .design-dropdown-menu {
    position: absolute;
    top: -13px;
    right: -216px;
    width: 212px;
    min-height: 38px;
    border: 1px solid #989898;
    box-shadow: 1px 1px 6px #989898;
    border-radius: 3px;
    background: #fff;
    display: none;
    z-index: 1;
}

.design-main .design-dropdown .design-dropdown-menu-arrow {
    background: url(images/icon-design-dropdown-menu-arrow.png);
    width: 13px;
    height: 29px;
    position: absolute;
    top: 16px;
    left: -13px;
    z-index: 1;
}

.design-main .design-top {
    position: relative;
    overflow: hidden;
    height: 68px;
    background: url(images/design-top-dotted.png) no-repeat #231815 0 5px;
}

.design-main .design-top .design-top-leaf {
    background: url(images/design-top-leaf.png) no-repeat #231815 0 7px;
    position: absolute;
    top: 0;
    left: 0;
    width: 96px;
    height: 68px;
    z-index: 4;
}

.design-main .design-top .design-top-center {
    position: relative;
    width: 1080px;
    margin: 0 auto;
}

.design-main .design-top .design-top-nav{
    height: 68px;
    padding: 30px 0 0 0;
}

.design-main .design-top .design-top-nav a.step {
    font-size: 18px;
    width: 154px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    border-radius: 5px 5px 0 0;
    float: left;
    vertical-align: middle;
    text-decoration: none;
    color: #fff;
    position: relative;
    margin-left: 10px;
}

.design-main .design-top .design-top-nav a.step:first-child {
    margin-left: 0;
}

.design-main .design-top .design-top-nav a.step.active{
    color: #AA2425;
    background: #fff;
    display: block;
}

.design-main .design-top .design-top-nav a.step .scissors {
    position: absolute;
    top: -29px;
    width: 1000px;
    height: 20px;
    background: url(images/design-top-scissors.png) no-repeat;
    z-index: 0;
    display: none;
}
.design-main .design-top .design-top-nav a.step-1.active .scissors {
    right: 68px;
    display: block;
}
.design-main .design-top .design-top-nav a.step-2.active .scissors {
    right: 85px;
    display: block;
}
.design-main .design-top .design-top-nav a.step-3.active .scissors {
    right: 87px;
    display: block;
}

.design-main .design-top .btn-group {
    position: absolute;
    bottom: 10px;
    right: 0;
}

.design-main .design-top .btn-group .btn {
    width: 86px;
    height: 32px;
    border: 1px solid #fff;
    border-radius: 3px;
    display: block;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}

.design-main .design-top .btn-group .btn-default {
    color: #fff;
}

.design-main .design-center {
    width: 1080px;
    min-height: 300px;
    margin: 0 auto;
}

.design-main .next-step {
    display: block;
    height: 56px;
    line-height: 56px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    border-radius: 3px;
    margin: 20px auto;
    background: url(images/icon-next-step.png) no-repeat 21px 16px #000;
}