
<div class="isd-custom-control">
    <!--  THEMEEDITOR -->
    Standard Skin <input type="radio" ng-model="skin.name" value="standard" name="skinName" ng-change="skinChanged()"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Minimal Skin <input type="radio" ng-model="skin.name" value="minimal" name="skinName" ng-change="skinChanged()"/>

    Color 1: <input type="color" name="color1" ng-model="skin.color1" ng-change="colorChanged(1)"/><br/>
    Color 2: <input type="color" name="color1" ng-model="skin.color2" ng-change="colorChanged(2)"/><br/>
    Color 3: <input type="color" name="color1" ng-model="skin.color3" ng-change="colorChanged(3)"/><br/>
    Color 4: <input type="color" name="color1" ng-model="skin.color4" ng-change="colorChanged(4)"/><br/>
    Color 5: <input type="color" name="color1" ng-model="skin.color5" ng-change="colorChanged(5)"/><br/>
</div>
