<div id="dsMobileUpload" class="isd-light-container isd-uploaderModal" ng-controller="MobileUploadController">

  <div class="isd-uploaderModalBody" style="padding:70px;">
    <div id="uploadEmailInstructions" style="font-size: 21px;line-height: 31px;">请按以下步骤上传手机中的照片:
    </div>
    <div class="isd-emailHeader">操作步骤：</div>
    <div id="emailSection">
      <div>
        <!-- <div class="isd-step"><div class="isd-stepLabel">1</div>Send an e-mail with your image attached to <span id="uploadEmailAddress">pic@picxfer.com</span></div>
        <div class="isd-step isd-enableHighlight"><div class="isd-stepLabel">2</div>In the subject line enter this unique code <div class="isd-sessionKey">{{userKey}}</div></div>
        <div class="isd-step" style="margin-top:5px;"><div class="isd-stepLabel">3</div>Send email</div> -->

        <ul class="p" style="font-size: 18px;line-height: 27px; margin-bottom:30px;">
          <li>1. 关注“易衫网”微信号 <span id="uploadEmailAddress">iEasytee</span></li>
          <li>2. 在菜单中，选择其他“我的易衫 -> 上传素材”</li>
          <li>3. 在上传的界面中，输入<div class="isd-sessionKey">{{userKey}}</div></li>
            <li>4. 选择您的图片，然后点击上传</li>
        </ul>


      </div>
      <p class="p"><br>如果您已经上传，请点击.</p>
      <a ng-click="startCheckUploads();" ng-hide="checkingUploads" class="isd-btn isd-button-primary">继续</a>

      <div id="checkingUploads" ng-show="checkingUploads">正在请求图片数据: <span
        is-loading="{{checkingUploads}}" style="display:inline-block;vertical-align:middle;width:32px;height:32px;"/>
      </div>
    </div>
    <fieldset
      style="border: 1px solid #AFAFAF;padding: 15px;padding-top: 5px;position: absolute;right: 20px;bottom: 70px;margin: 0 50px 0 70px; color:#afafaf;">
      <legend>版权声明</legend>
      <p class="p" style="font-size:12px;">
          <span style="font-weight: bold;">请仔细阅读</span><div><br /></div><div>您提交的任何设计必须是您设计或者拥有合法使用权。你不得使用他人拥有的内容，除非你得到他们的许可。如果有人因为你的设计向我们索赔，您同意支付我们受到损失，包括律师费等任何损失。</div>

        </p>
    </fieldset>
  </div>
  <a ng-click="close()" class="isd-close-btn">&nbsp;</a>
</div>
