<!-- Light box content start here -->
<div class="isd-light-container isd-top-left" ng-controller="CartLoginController">
    <cart-navigation step-number="0">
        <div class="isd-step-1 isd-clearfix" style="height:315px;">
            <div class="isd-new-user isd-accordian-content">
                <h2 style="font-size:18px;">
                    新用户？
                </h2>

                <p class="p" style="padding-bottom:10px;">
                    请注册一个帐号.</p>

                <form is-submit="logInNew()" class="isd-form-group" is-validate>

                    <label>
                        <input type="radio" name="loginMode" ng-model="login.mode" value="register" ng-checked="true"/>注册新帐号
                    </label>

                    <label>
                        <input type="radio" name="loginMode" ng-model="login.mode" value="guest"/>获取一个临时帐号
                    </label>

                    <div ng-show="login.mode=='guest'" style="width:230px;">

                        <label>
                            <span style="float:left; width:158px;margin-bottom:10px;margin-top: 10px;">邮箱：</span>
                        </label>

                        <div class="isd-invalid-msg"></div>
                        <input type="text" class="isd-txt-btn" name="email" ng-model="login.guestEmail"
                               is-attr="{'data-input-type': login.mode == 'guest' ? 'null': null}"
                               style="width:100%;margin-top:0px;"/>

                    </div>
                    <br>
                    <input type="submit" value="继续" class="isd-btn isd-button-primary"/>
                </form>
            </div>
            <div class="isd-register-login isd-accordian-content">
                <h2 style="font-size:18px;">
                    已有帐号</h2>

                <p class="p">
                    登录易衫网跟踪活动众筹进度，使用我们提供的营销工具推广活动.</p>

                <p class="isd-error">{{login.error}}</p>

                <form is-submit="logInExisting()" is-validate ng-hide="showForgotPasswordForm">


                    <label>

                        <span style="float:left; width:158px;">帐号</span>

                        <div style="float:left;width:247px;">
                            <div class="isd-invalid-msg"></div>
                            <input type="text" class="isd-txt-btn" ng-model="login.email" data-input-type="text"/>
                        </div>
                    </label>
                    <label>

                        <span style="float:left; width:158px;">密码</span>

                        <div style="float:left;width:247px;">
                            <div class="isd-invalid-msg"></div>
                            <input type="password" class="isd-txt-btn" ng-model="login.password" data-input-type="password"/>
                        </div>

                    </label>
                    <a class="isd-forgotPassword" href="account/find_password/" target="blank">忘记密码?</a>
                    <input type="submit" value="继续" class="isd-btn isd-button-primary"
                           style="float:right;clear:both;margin-top:17px;"/>
                </form>
                
            </div>
        </div>
    </cart-navigation>
    <a ng-click="close()" class="isd-close-btn">&nbsp;</a>
</div>
<!-- Light box content end here -->
