<div class="isd-light-container isd-top-left" ng-controller="EnterAddressesController">
  <cart-navigation step-number="5">
    <div class="isd-step-6 isd-clearfix">
      <form is-submit="nextStep()" is-validate>
        <div id="accountAddresses" ng-show="accountAddresses && accountAddresses.length">
          Choose a saved address:
          <select class="isd-txt-btn" style="width:auto" ng-model="shipToAddress.address_id"
                  ng-options="address.address_id as address.description for address in accountAddresses"
                  ng-change="savedAddressChanged()">
            <option value="">--Select--</option>
          </select>
        </div>
        <div class="isd-billing-block isd-shipping-adr" style="margin-left:80px;">
          <h2 style="margin-top:3px;font-size:18px;">
            {{editableAddressType}} ADDRESS
          </h2>
          <ul class="isd-error" ng-show="shippingErrors.length">
            <li ng-repeat="error in shippingErrors">{{error}}</li>
          </ul>
          <div class="isd-form-block isd-clearfix" style="margin-top:-1px;">
            <ul>
              <li class="isd-Name">
                <input type="text" class="isd-txt-btn isd-alpha" value="First" ng-model="shipToAddress.first_name"
                       data-input-type="required" placeholder="First Name"/>
                <input type="text" class="isd-txt-btn" value="Last" ng-model="shipToAddress.last_name"
                       data-input-type="required" placeholder="Last Name"/>

                <div class="isd-invalid-msg" style="width:326px;"></div>
              </li>
              <li class="isd-street-adr">
                <input type="text" class="isd-txt-btn" value="" ng-model="shipToAddress.street1"
                       data-input-type="required" placeholder="Street Address"/>

                <div class="isd-invalid-msg" style="width:326px;"></div>
              </li>
              <li class="isd-state isd-clearfix">
                <div class="isd-city" style="width:157px;">
                  <input type="text" class="isd-txt-btn" value="" ng-model="shipToAddress.city"
                         data-input-type="required" placeholder="City"/>

                  <div class="isd-invalid-msg" style="width:145px;"></div>
                </div>
                <div class="isd-select-state" style="width:172px;">
                  <select class="isd-txt-btn" ng-model="shipToAddress.state_id"
                          ng-options="state.state_id as state.name for state in shippingStates"
                          ng-show="shipToAddress.country.require_state"
                          is-attr="{'data-input-type': shipToAddress.country.require_state ? 'required' : null}">
                    <option value="">{{shipToAddress.country_id == 1 ? "State" : "Province"}}</option>
                  </select>

                  <div class="isd-invalid-msg" style="width:160px;"></div>
                </div>
              </li>
              <li class="isd-country isd-clearfix">
                <div class="isd-pin-code" style="width:77px;">
                  <input type="text" class="isd-txt-btn" ng-model="shipToAddress.postcode" data-input-type="zipCode"
                         data-mode="{{shipToAddress.country.country_id}}" placeholder="Zip Code"/>

                  <div class="isd-invalid-msg" style="width:65px"></div>
                </div>
                <div class="isd-select-state" style="width:172px;">
                  <select class="isd-txt-btn" ng-model="shipToAddress.country_id"
                          ng-options="country.country_id as country.name for country in shippingCountries"
                          data-input-type="required" ng-change="shipToCountryChanged()">
                    <option value="">--Country--</option>
                  </select>

                  <div class="isd-invalid-msg" style="width:160px;"></div>
                </div>
              </li>
              <li class="isd-phone isd-clearfix">
                <div class="isd-phone" style="width:187px;">
                  <input type="tel" class="isd-txt-btn" value="" ng-model="shipToAddress.phone"
                         data-input-type="required" placeholder="Phone Number"/>

                  <div class="isd-invalid-msg" style="width:175px;"></div>
                </div>
              </li>
            </ul>
            <div class="isd-type-shipping">
              <label>
                Type?
              </label>
              <label class="isd-width-one">
                <input type="radio" name="radio" value="False" ng-model="shipToAddress.business"
                       data-input-type="required"/> &nbsp;Home
              </label>
              <label class="isd-width-two">
                <input type="radio" name="radio" value="True" ng-model="shipToAddress.business"
                       data-input-type="required"/> &nbsp;Business
              </label>
            </div>
            <div class="isd-type-shipping" style="margin-top:11px;">
              <label>
                PO Box?
              </label>
              <label class="isd-width-one">
                <input type="radio" name="radio-1" value="False" ng-model="shipToAddress.pobox"
                       data-input-type="required"/> &nbsp;No
              </label>
              <label class="isd-width-two">
                <input type="radio" name="radio-1" value="True" ng-model="shipToAddress.pobox"
                       data-input-type="required"/> &nbsp;Yes
              </label>
            </div>
          </div>
        </div>
        <div class="isd-billing-block" style="margin-left:60px;">
          <div ng-style="{ 'visibility': allowOnlyOneAddress ? 'hidden' : 'visible' }">
            <h2 style="display:inline-block;font-size:18px;">{{nonEditableAddressType}} ADDRESS</h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span style="font-size:16px;">
                            <span id="billingSameAsShipping">
                                <input type="checkbox" ng-model="addressesSame" ng-change="changeAddressesSame()"
                                       ng-disabled="allowOnlyOneAddress"/> &nbsp;Same
                                as Shipping?
                            </span>
                        </span>
            <ul class="isd-error" ng-show="billingErrors.length">
              <li ng-repeat="error in billingErrors">{{error}}</li>
            </ul>
            <div class="isd-form-block" style="padding-top:4px;">
              <ul>
                <li class="isd-checked"></li>
                <li class="isd-Name">
                  <input type="text" class="isd-txt-btn isd-alpha" value="First" ng-model="billingAddress.first_name"
                         ng-change="billingAddressChanged()" ng-disabled="billingAddressDisabled"
                         is-attr="{'data-input-type': billingAddressRequired && !allowOnlyOneAddress ? 'required' : null}"
                         placeholder="First Name"/>
                  <input type="text" class="isd-txt-btn" value="Last" ng-model="billingAddress.last_name"
                         ng-change="billingAddressChanged()" ng-disabled="billingAddressDisabled"
                         placeholder="Last Name"
                         is-attr="{'data-input-type': billingAddressRequired && !allowOnlyOneAddress ? 'required' : null}"/>

                  <div class="isd-invalid-msg" style="width:326px;"></div>
                </li>
                <li class="isd-street-adr">
                  <input type="text" class="isd-txt-btn" value="" ng-model="billingAddress.street1"
                         ng-change="billingAddressChanged()" ng-disabled="billingAddressDisabled"
                         is-attr="{'data-input-type': billingAddressRequired && !allowOnlyOneAddress ? 'required' : null}"/>

                  <div class="isd-invalid-msg" style="width:326px;"></div>
                </li>
                <li class="isd-state isd-clearfix">
                  <div class="isd-city" style="width:157px;">
                    <input type="text" class="isd-txt-btn" value="" ng-model="billingAddress.city"
                           ng-change="billingAddressChanged()" ng-disabled="billingAddressDisabled"
                           is-attr="{'data-input-type': billingAddressRequired && !allowOnlyOneAddress ? 'required' : null}"
                           placeholder="City"/>

                    <div class="isd-invalid-msg" style="width:145px;"></div>
                  </div>
                  <div class="isd-select-state" style="width:172px;">
                    <select class="isd-txt-btn" ng-model="billingAddress.state_id" ng-change="billingAddressChanged()"
                            ng-options="state.state_id as state.name for state in billingStates"
                            ng-disabled="billingAddressDisabled"
                            is-attr="{'data-input-type': billingAddressRequired && !allowOnlyOneAddress && billingAddress.country.require_state ? 'required' : null}"
                            ng-show="billingAddress.country.require_state">
                      <option value="">{{billingAddress.country_id == 1 ? "State" : "Province"}}</option>
                    </select>

                    <div class="isd-invalid-msg" style="width:160px;"></div>
                  </div>
                </li>
                <li class="isd-country isd-clearfix">
                  <div class="isd-pin-code" style="width:77px;">
                    <input type="text" class="isd-txt-btn" value="" ng-model="billingAddress.postcode"
                           ng-change="billingAddressChanged()" ng-disabled="billingAddressDisabled"
                           is-attr="{'data-input-type': billingAddressRequired && !allowOnlyOneAddress ? 'zipCode' : null}"
                           data-mode="{{billingAddress.country.country_id}}" placeholder="Zip Code"/>

                    <div class="isd-invalid-msg" style="width:65px"></div>
                  </div>
                  <div class="isd-select-state" style="width:172px;">
                    <select class="isd-txt-btn" ng-model="billingAddress.country_id"
                            ng-options="country.country_id as country.name for country in billingCountries"
                            ng-disabled="billingAddressDisabled"
                            is-attr="{'data-input-type': billingAddressRequired && !allowOnlyOneAddress ? 'required' : null}"
                            ng-change="billingCountryChanged()">
                      <option value="">--Country--</option>
                    </select>

                    <div class="isd-invalid-msg" style="width:160px;"></div>
                  </div>
                </li>
                <li class="isd-phone isd-clearfix">
                  <div class="isd-phone" style="width:187px;">
                    <input type="tel" class="isd-txt-btn" value="" ng-model="billingAddress.phone"
                           ng-change="billingAddressChanged()" ng-disabled="billingAddressDisabled"
                           is-attr="{'data-input-type': billingAddressRequired && !allowOnlyOneAddress ? 'required' : null}"
                           placeholder="Phone Number"/>

                    <div class="isd-invalid-msg" style="width:175px;"></div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <input type="submit" value="Continue" class="isd-btn isd-button-primary" style="margin:0px"/>
        </div>
      </form>
    </div>
  </cart-navigation>
  <a ng-click="close()" class="isd-close-btn">&nbsp;</a>
</div>
