<div class="isd-light-container isd-top-left" ng-controller="ShippingMethodController">
  <cart-navigation step-number="6">
    <div class="isd-accordian-content isd-select-shipping isd-clearfix" style="height:311px;">
      <form ng-submit="nextStep()" is-validate>
        <h2 style="font-size:18px;">
          select shipping method
        </h2>

        <div class="isd-shipping-method isd-clearfix"
             style="max-height:190px;padding-left:13px; margin:0px;overflow: auto;padding-bottom:30px;">
          <div class="isd-options">
            <label ng-repeat="method in methods" style="overflow:visible;">
              <input type="radio" name="shippingMethod" ng-model="order.shippingMethodID"
                     value="{{method.shipping_method_id}}" required/><span>{{method.name}}</span>
            </label>
          </div>
          <div class="isd-prices" ng-hide="hidePricing">
            <span ng-repeat="method in methods">{{formatPrice(method.price)}}</span>
          </div>
          <div class="isd-shipping-txt">
            <span ng-repeat="method in methods">{{method.text}}</span>
          </div>
        </div>
        <input type="submit" value="Continue" class="isd-btn isd-button-primary"/>
      </form>
    </div>
  </cart-navigation>
  <a ng-click="close()" class="isd-close-btn">&nbsp;</a>
</div>
