<!-- Light box content start here -->
<div class="isd-light-container isd-top-left" ng-controller="CartRegisterController">
  <cart-navigation step-number="1">
    <div class="isd-step-2 isd-clearfix">
      <div class="isd-new-user isd-accordian-content">
        <h2 style="font-size:18px;margin-top: 10px;">
          I’m a New Customer
        </h2>

        <p class="p">
          To continue, please enter your email address and password that you would like to use for your
          acount.
        </p>

        <div type="button" ng-show-modal="cartLogin" class="isd-btn isd-button-default" style="width:100%;">Checkout as
          Guest or Login
        </div>
      </div>
      <div class="isd-register-login isd-register-login-2  isd-accordian-content">
        <form novalidate is-submit="createAccount()" is-validate>

          <label>
            <span>FIRST NAME</span>

            <div class="isd-cart-register-input">
              <div class="isd-invalid-msg"></div>
              <input data-input-type="name" type="text" class="isd-txt-btn" ng-model="register.firstName"/>
            </div>
          </label>

          <label>
            <span>LAST NAME</span>

            <div class="isd-cart-register-input">
              <div class="isd-invalid-msg"></div>
              <input data-input-type="name" type="text" class="isd-txt-btn" ng-model="register.lastName"/>
            </div>
          </label>

          <label>
            <span>EMAIL</span>

            <div class="isd-cart-register-input">
              <div class="isd-invalid-msg"></div>
              <input data-input-type="email" type="email" class="isd-txt-btn" ng-model="register.email"/>
            </div>
          </label>

          <label>
            <span>DESIRED PASSWORD</span>

            <div class="isd-cart-register-input">
              <div class="isd-invalid-msg"></div>
              <input data-input-type="password" type="password" class="isd-txt-btn" ng-model="register.password"
                     pattern=".{4,}"/>
            </div>
          </label>

          <label>
            <span>CONFIRM PASSWORD</span>

            <div class="isd-cart-register-input">
              <div class="isd-invalid-msg"></div>
              <input data-input-type="password" type="password" class="isd-txt-btn" ng-model="register.passwordConfirm"
                     pattern=".{4,}"/>
            </div>
          </label>

          <input type="submit" class="isd-btn isd-button-primary" value="Register" style="float:right; width:247px;"/>

        </form>
      </div>
    </div>
  </cart-navigation>
  <a ng-click="close()" class="isd-close-btn">&nbsp;</a>
</div>
<!-- Light box content end here -->
