<div class="isd-light-container isd-top-left" ng-controller="EnterPaymentController">
  <cart-navigation step-number="4">
    <div class="isd-accordian-content isd-step-5 isd-clearfix" style="padding:51px 30px;height:275px;">

      <div class="isd-payment isd-clearfix">
        <div class="isd-options" style="text-align:left">
          <h2 style="font-size:18px;">How would you like to pay?</h2>
          <label ng-repeat="paymentMethod in paymentMethods"><input type="radio" ng-model="payment.paymentType"
                                                                    value="{{paymentMethod}}"/><span>{{paymentMethod}}</span></label>
        </div>
        <div class="isd-form-area isd-card-detail" ng-show="payment.paymentType == 'Credit Card'">
          <form is-submit="nextStep()" is-validate>
            <ul>
              <li>
                <span>Credit Card Number:</span><br>

                <div class="isd-invalid-msg" style="width:320px"></div>
                <input placeholder="4444 4444 4444 4444" class="isd-txt-btn isd-increase" type="text"
                       ng-model="payment.cardNumber" data-input-type="creditCardNumber" style="width:319px;"/>
              </li>
              <li>
                <span>Expiration Date:</span>

                <div class="isd-invalid-msg" style="width:180px"></div>
                <div>
                  <select class="isd-txt-btn" ng-model="payment.expirationMonth" data-input-type="required">
                    <option value="1">January</option>
                    <option value="2">February</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                  </select>

                  <div class="isd-invalid-msg" style="width:180px"></div>
                  <select class="isd-txt-btn" ng-model="payment.expirationYear" data-input-type="required">
                    <option value=" {{todayYear}}">{{todayYear}}</option>
                    <option value="{{todayYear + 1}}">{{todayYear + 1}}</option>
                    <option value="{{todayYear + 2}}">{{todayYear + 2}}</option>
                    <option value="{{todayYear + 3}}">{{todayYear + 3}}</option>
                    <option value="{{todayYear + 4}}">{{todayYear + 4}}</option>
                    <option value="{{todayYear + 5}}">{{todayYear + 5}}</option>
                    <option value="{{todayYear + 6}}">{{todayYear + 6}}</option>
                    <option value="{{todayYear + 7}}">{{todayYear + 7}}</option>
                    <option value="{{todayYear + 8}}">{{todayYear + 8}}</option>
                    <option value="{{todayYear + 9}}">{{todayYear + 9}}</option>
                    <option value="{{todayYear + 10}}">{{todayYear + 10}}</option>
                  </select>
                </div>
              </li>
              <li>
                <span>Card Verification Code:</span>

                <div class="isd-invalid-msg" style="width:180px"></div>
                <div>
                  <input class="isd-txt-btn" type="text" ng-model="payment.ccvCode" data-input-type="required"/>
                </div>
              </li>
            </ul>
            <input type="submit" value="Continue" class="isd-btn isd-button-primary"/>
          </form>
        </div>
        <div class="isd-form-area" ng-show="payment.paymentType == 'Purchase Order'">
          <form is-submit="nextStep()" is-validate>
            <ul>
              <li style="padding-left:20px;">
                <div>
                  <div class="isd-invalid-msg" style="width: 330px;"></div>
                  <input placeholder="Purchase Order Number" class="isd-txt-btn isd-increase" type="text"
                         ng-model="payment.poNumber" data-input-type="required" style="width:330px; margin-top:0px;"/>
                </div>
              </li>
            </ul>
            <input type="submit" value="Continue" class="isd-btn isd-button-primary" style="margin-left:21px;"/>
          </form>
        </div>
        <div class="isd-form-area" ng-show="payment.paymentType == 'Paypal'">
          <form ng-submit="nextStep()" is-validate>
            <ul>
              <li>
                Paypal info here?
              </li>
            </ul>
            <input type="submit" value="Continue" class="isd-btn isd-button-primary" style="float:right;"/>
          </form>
        </div>
        <div class="isd-form-area" ng-show="payment.paymentType == 'Arrange Payment Later'">
          <form ng-submit="nextStep()" is-validate>
            <ul>
              <li>
              </li>
            </ul>
            <input type="submit" value="Continue" class="isd-btn isd-button-primary" style="margin-left:20px;"/>
          </form>
        </div>
      </div>
    </div>
  </cart-navigation>
  <a ng-click="close()" class="isd-close-btn">&nbsp;</a>
</div>
